<!doctype html>
<html>
<style>
    .zg-body {
      background: #e6e6e6;
    }
 
    .zg-body .controls--container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
 
 
  background: #e6e6e6;
    }

    .zg-body zing-grid {
      /* default Liverpool red CSS variable */
      --zg-caption-background: #e31b23;
      --zg-row-body-background_hover: #F6EB61;
    }

    zing-grid[loading] {
      height: 421px;
    }



  </style>
    <head>
        <meta charset="utf-8">
        <title>Basic ZingGrid Example</title>
        <!-- <script src="http://0.0.0.0:8082/lib/zinggrid.min.js" defer></script> -->
        <script src="https://cdn.zinggrid.com/canary/zinggrid-canary.min.js" defer></script>
    </head>

    <body>
        <h1>{{ title }}</h1>
        <hr>
       
    
     <div class="zg-body">
         
     


        <zing-grid 
            caption="Panel de colores"
            src="/panda/todos"
            editor-controls
            sort 
            editor 
            viewport-stop
            layout="row"
            search pager page-size="4"
            >
               
      
           
            <!-- 
                We explicitly define our zg-columns so when there is not data the grid 
                knows what fields to send on create
            -->
            <zg-colgroup>
                
                

                <!-- <zg-column type="selector"></zg-column> -->
                <zg-column index="item" type="text"></zg-column>
                <zg-column index="itemd" type="text"></zg-column>
                
            
            </zg-colgroup>
        </zing-grid>
        </div>

       



         <script>
    // window:load event for Javascript to run after HTML
    // because this Javascript is injected into the document head
    window.addEventListener('load', () => {
      // Javascript code to execute after DOM content
      // element references
      const searchGrid = document.getElementById('searchGrid');
      const zgRef = document.querySelector('zing-grid');
 
      // debounce search
      let searchTimeoutId = null;
 
      // function declarations
      function _searchGrid(e) {
        // debounce search
        clearTimeout(searchTimeoutId);
        let targetValue = e.target.value;
        // delay 100 milliseconds to debounce user input
        searchTimeoutId = setTimeout((userInput) => {
          requestAnimationFrame(() => zgRef.searchGrid(userInput));
        }, 100, targetValue);
      }
 
      // add event listeners
      searchGrid.addEventListener('keyup', _searchGrid);
      searchGrid.addEventListener('change', _searchGrid);
      searchGrid.addEventListener('search', _searchGrid);
    });
  </script>
    </body>
</html>