{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="#openModalHijoAddDespacho">
  <i class="btn text-center btn-outline-success icofont-ui-add"> Registrar despacho </i>
</a>
<div class="bg-secondary">



<!-- <header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
       <a href="#openModalHijoAddDespacho">
        <i class="btn text-center btn-outline-success icofont-ui-add"> Registrar despacho </i>
      </a>  
   </div>
</header> -->
 
<table id="despachoTable"data-id-field="id"
class=""
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-detail-view-icon="false"
data-show-columns="true"
data-search="true"
data-show-fullscreen="true"        
data-show-refresh="true"
data-always-use-formatter="true"
data-show-export="true" 
data-locale="es-SP"
data-pagination="true"
data-url="/despacho/despacho-list/">

  <thead class="bg-dark ">
  
    <tr class="text-white">
      
      <th data-field="nom_operacion" class="text-center"><cw class='text-white'>OP</cw></th>
      <th data-field="nomReferencia" class="text-center"><cw class='text-white'>Referencia</cw></th>
      <th data-field="nomColor" class="text-center"><cw class='text-white'>Color</cw></th>
      <th data-field="codColor" class="text-center"><cw class='text-white'>Cod. Color</cw></th>
      <th data-field="can_total" class="text-center"><cw class='text-white'>Cant. Faltante</cw></th>
      <th data-field="can_total" class="text-center"><cw class='text-white'>Cant. Total</cw></th>
      <th data-field="created_at" class="text-center"><cw class='text-white'>Fecha creada</cw></th>

    </tr>
  </thead>
</table>






</div>



{% block javascript %}




{% endblock javascript%}
{% endblock %}






