{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
       <a href="#openModalHijoAddOperacion">
        <i class="btn text-center btn-outline-success icofont-ui-add"> Registrar despacho </i>
      </a>  
   </div>
</header>

<table id="despachoTable" data-id-field="id" class="table" data-toggle="table" data-detail-view="true"
  data-detail-view-by-click="true" data-show-columns="true" data-search="True" data-show-fullscreen="true"
  data-locale="es-SP" data-pagination="true" data-detail-view-icon="false" data-show-export="false"
  data-url="operacion/operacion-list/">

  <thead class="thead-dark">
    <tr>
      <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoOperacion" class="text-center">Info</th>
      <th data-field="nom_operacion" class="text-center">OP</th>
      <th data-field="nomReferencia" class="text-center">Referencia</th>
      <th data-field="nomColor" class="text-center">Color</th>
      <th data-field="codColor" class="text-center">Cod. Color</th>
      <th data-field="can_total" class="text-center">Cant. Faltante</th>
      <th data-field="can_total" class="text-center">Cant. Total</th>
      <th data-field="created_at" class="text-center">Fecha creada</th>

    </tr>
  </thead>
</table>


<script>

  $('#despachoTable').SetEditable();


  function tallas(idOp) {
      $.ajax({
        url: '{% url "tallaOP-list" %}',
        data: {

          'idOp': idOp,
        },
        dataType: 'json',
        success: function (response) {



          var len = response.length;
          for (var i = 0; i < len; i++) {
            var id = response[i].id;
            var canTalla = response[i].can_talla;
            var nombreTalla = response[i].nom_talla;
            var res_talla = response[i].res_talla;
            if (res_talla == null) {
              res_talla = canTalla;
            }

            var tr_str = "<tr>" +
              "<td style='text-align:center'>" + nombreTalla + "</td>" +
              "<td style='text-align:center'>" + canTalla + "</td>" +
              "<td style='text-align:center'>" + res_talla + "</td>" +
              "<td style='text-align:center'>" + "<button class='btn btn-sm btn-block btn-outline-danger  icofont-ui-remov' onclick='reoveCanTalla(" + id + ")'>Eliminar " + "</td>" +
              "</tr>";
            $('#listKill' + idOp).append(tr_str);
          }

        }
      });



    }


</script>


{% block javascript %}

{% endblock javascript %}

{% endblock %}
