{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">



</style>

<div class="modalBase">

 
        
    <br>
    
    <form id="addDespacho" autocomplete="off" class="form-inline">
    
      <input class="" type="text" list="BuscarIntegrantes" name="idIntegrante" required Placeholder="Patinador..."
      class="form-control" style="width:150px;">
  
    <datalist id="BuscarIntegrantes">
      {% for results in allIntegrante %}
      <option value="{{results.id}}">{{results.nombres}} {{results.apellidos}}</option>
      {% endfor %}
    </datalist>    
    
      <input class="" type="text" list="BuscarIntegrantes" name="idIntegrante" required Placeholder="Operacio..."
        class="form-control" style="width:150px;">
    
      <datalist id="BuscarIntegrantes">
        {% for results in allIntegrante %}
        <option value="{{results.id}}">{{results.nombres}} {{results.apellidos}}</option>
        {% endfor %}
      </datalist>    
    
      <input class="" type="text" list="BuscarIntegrantes" name="idIntegrante" required Placeholder="Talla..."
      class="form-control" style="width:150px;">
  
    <datalist id="BuscarIntegrantes">
      {% for results in allIntegrante %}
      <option value="{{results.id}}">{{results.nombres}} {{results.apellidos}}</option>
      {% endfor %}
    </datalist>    
    
    <input type="number" name="idIntegrante" required Placeholder="Cantidad..."
      class="form-control" style="width:150px;">
    
      <input type="number" hidden="True" name="idEmpresa" value="{{ lastIdEmpresa }}">
      <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">
      <button class="btn btn-outline-primary btn-" type="submit" onclick="location.href='/'">Agregar Despacho</button>
  
    </form><hr><br>
  



 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<table id="despachoTable" 
data-id-field="id"
class=""
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-detail-view-icon="false"
data-show-columns="true"
data-search="true"
data-show-fullscreen="true"        
data-show-refresh="true"
data-always-use-formatter="true"
data-show-export="true" 
data-locale="es-SP"

data-url="/despacho/despacho-list/">

  <thead class="thead-dark ">
  
    <tr>
      
      <th data-field="nom_operacion" class="text-center ">OP</th>
      <th data-field="nomReferencia" class="text-center">Referencia</th>
      <th data-field="nomColor" class="text-center">Color</th>
      <th data-field="can_total" class="text-center">Cant. Faltante</th>
      <th data-field="can_total" class="text-center">Cant. Total</th>
      <th data-field="created_at" class="text-center">Fecha creada</th>

    </tr>
  </thead>
</table>






<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>


</div>



{% block javascript %}

{% endblock javascript%}
{% endblock %}






