{% extends 'base.html' %}
{% load static %}
{% block content %}
<a href="#openModalHijoAddDespacho">
  <i class="btn text-center btn-outline-success icofont-ui-add"> Registrar despacho </i>
</a>
<div class="bg-secondary">



<!-- <header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
       <a href="#openModalHijoAddDespacho">
        <i class="btn text-center btn-outline-success icofont-ui-add"> Registrar despacho </i>
      </a>  
   </div>
</header> -->
 
<table id="despachoTable"data-id-field="id"
class=""
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-detail-view-icon="false"
data-show-columns="true"
data-search="true"
data-show-fullscreen="true"        
data-show-refresh="true"
data-always-use-formatter="true"
data-show-export="true" 
data-locale="es-SP"
data-pagination="true"
data-url="/despacho/despacho-list/">

  <thead class="bg-dark ">
  
    <tr class="text-white">
      
      <th data-field="nom_operacion" class="text-center"><cw class=OP</th>
      <th data-field="nomReferencia" class="text-center"><cw class=Referencia</th>
      <th data-field="nomColor" class="text-center"><cw class=Color</th>
      <th data-field="codColor" class="text-center"><cw class=Cod. Color</th>
      <th data-field="can_total" class="text-center"><cw class=Cant. Faltante</th>
      <th data-field="can_total" class="text-center"><cw class=Cant. Total</th>
      <th data-field="created_at" class="text-center"><cw class=Fecha creada</th>

    </tr>
  </thead>
</table>






<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>


</div>



{% block javascript %}

{% endblock javascript%}
{% endblock %}






