{% load static %}


<div id="openModalTalla" class="modalDialogPadre">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>

    <center>
            <u><h1>Tallas registrada de {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1></u><hr><br><br>
    </center> 
    
<!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
+data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->    

<div class="row">
<div class="col-md-3 ">
<div class="">
  <h6 style="text-align: center;">Registar Talla</h6><hr>

<form id="addTalla" autocomplete="off" class=" form-inline ">

    <div class="form-group mx-sm-3">
      <label for="nom_talla" class="sr-only">Nombre de talla</label>

      <input type="text" name="nomTalla"  required Placeholder="Nombre talla..." class="form-control">
    </div>
   
    <div class="form-group mx-sm-3">
      <label for="ntall" class="sr-only">Numero de talla</label>

      <input type="number" name="numTalla"   Placeholder="Numero de talla..." class="form-control" >      
      <input type="number" hidden="True" name="idEmpresaTalla" value="{{ lastIdEmpresa }}">
      <input type="number" hidden="True" name="idUserTalla" value="{{ login_user_id}}">  
    </div> 
    
    <div class="form-group mx-md-3">
      <button class="btn form-control btn-outline-primary btn-block " type="submit" onclick="location.href='/'">Agregar Talla</button>
    </div>
   
   
</form>
</div>

</div>


<div class="col-md-6">
<table
id="TallaTable"
data-id-field="id"
class="table table-sm"
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-show-columns="false"
data-search="false"
data-show-fullscreen="false"        
data-locale="es-SP"
data-pagination="true"
data-detail-view-icon="false"

data-url="talla/talla-list/">



<thead class="thead-dark">
  <tr>
<!--     <th data-field="datosTalla" class="text-center">datosTalla</th>
 --> 
    <th data-field="nom_talla" class="text-center">Nombre Talla </th>
    <th data-field="num_talla" class="text-center">N° Talla </th>
    
    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionTalla"class="text-center">Accion</th>
  </tr>
</thead>

</table>
</div>
</div>








<!--table Talla-->
<script>

$('#TallaTable').SetEditable();


function DetailFormatterButAccionTalla(index,row){
  return '<form id="editarITalla" style="display: inline"  >{% csrf_token %}<hr>'+
        '<div class="row">'+
        
        '<div class="col-sm-1">'+'<button value="" onclick="removeTalla('+row.id+')"  id="buttonEliminarTalla" class="btn btn-outline-danger icofont-ui-remove ">Eliminar</button>'+
        '</div>'+
        '</form>';
        
        
        
}




</script>

</div>  
</div>




 <!--create Talla-->
C

<!--Delete Talla-->
<script>
 function removeTalla (idTalla) {


  $.ajax({
            url: '{% url "Talla_ajax_delete" %}',
            data: {
                'id': idTalla,
            },
            dataType: 'json',
            success: function (data) {
           
              window.location.reload();


              
            }
            });
}




</script>

