<!DOCTYPE html>
<html>

<body>
    <input type="text" name="num" step="1" id="num" value="" size="20" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <h2>JavaScript For Loop</h2>

    <p id="demo"></p>

    <script>
        const cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];

        let text = "";
        for (let i = 0; i < cars.length; i++) {
            text += cars[i] + "<br>";
            $('#num').focusout(function() {
                var x = $(this).val();
                alert(x);

                // Recomiendo usar la consola en lugar de alerts
                console.log(x);
            });


            $('#num').focusout(function() {
                var x = $(this).val();
                alert(x);

                // Recomiendo usar la consola en lugar de alerts
                console.log(x);
            });

        }

        document.getElementById("demo").innerHTML = text;
    </script>

</body>

</html>