{% load static %}

<div id="openModalRecord" class="modalDialogPadre">
    <div>
        <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>
        <center>
            <h1>Record Integrante {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
        </center>
        <div class="row">
            <!-- <div class="col-md-12 col-md-offset-10">
                <h6 class="cioo" style="text-align: right;">Importe total $ {{totalCasino}}</h6>
            </div> -->
            <div class="col-md-12">
                <div class="col-md-9">










                </div>

            </div>
        </div>

    </div>