{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>

<!-- <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
 -->




<div class="modalBasePeriles">
    <div style="overflow-x:auto;">
        <center>
            <h5 class="title">Despacho Patinador</h5>

        </center>
        <table id="despachoTable" data-id-field="id" class="" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-show-columns="true" data-search="true" data-show-fullscreen="true" data-pagination="true"
            data-show-refresh="true" data-always-use-formatter="true" data-show-export="true" data-locale="es-SP" data-url='{% url "operacionesListPatinadores" %}'>
            <thead class="thead-dark ">
                <tr>
                    <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoDespachoPerfilPatinadores" class="text-center">Info
                    </th>
                    {% comment %}
                    <th data-field="id" class="text-center ">id</th> {% endcomment %}
                    <th data-field="nom_operacion" class="text-center ">OP</th>
                    <th data-field="nomReferencia" class="text-center">Referencia</th>
                    <!--      <th data-field="nomColor" class="text-center">Color</th> -->
                    <!--                 <th data-field="can_total" class="text-center">Cant. Faltante</th>
 -->
                    <th data-field="can_total" class="text-center">Cant. Total</th>
                    <!-- <th data-field="created_at" class="text-center">Fecha creada</th> -->
                    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionDespacho" class="text-center">
                        Accion</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
<script>
</script>









<script>
    function DetailFormatterButInfoDespachoPerfilPatinadores(index, row) {
        //r = parseInt("[[progressRest]]");

        //crea y renderiza la tabla
        return '<div class="row">' +
            '<div class="col-sm-1">' +
            '</div>' +
            '<div class="col-sm-6">' +
            '<div id="despachoVue-' + row.id + '"><template>' +
            '<table class="table  animated fadeIn  border-info ">' +
            '<thead class="thead-dark">' +
            '<tr class="" >' +
            '<th class="text-center">Nombre Talla</th>' +
            '<th class="text-center">Talla Total</th>' +
            '<th class="text-center">Talla Restante</th>' +
            '</tr>' +
            '</thead><tbody calss="table-striped table  table-sm  table-bordered table-hover" id="listKill' + row.id + '">' +
            '<tr v-for="allTallaOP in allTallaOPs" :key="allTallaOP.id">' +
            '<td class="text-center">[[allTallaOP.nom_talla]]</td><td class="text-center">[[allTallaOP.can_talla]]' +
            '</td><td class=" text-center">[[allTallaOP.res_talla]]</td></tr>' +
            '</tbody></template></div>' +
            '</table>' + '<script type="application/javascript">' + 'formOP(' + row.id + ',' + row.usuario + ');' +
            '</' + 'script>' +
            '</div>' +
            '<div class="col-sm-4"><div id="FormuTallaOP-' + row.id +
            '"><template>' +
            '<div class="border border-info alert"><b><h6>Restante &nbsp;&nbsp;<b class="big-button">[[cantRestante]] <hrr></b> de [[total]]</b></h6></div>' +
            '<form @submit.prevent="submitFormDespacho" class="form dark"><div hidden=True>{% csrf_token %}</div>' +
            '<div>' +

            //'<div class="progress progress-striped"><div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width:' +
            //'% ' +
            //'">Faltante</div></div>' +
            '<input  id="operacion-' + row.id +
            '" name="operacion-' + row.id +
            '"  type="number" hidden=True value="' + row.id +
            '"  required/>' +




            '<select  id="OccionId_talla-' + row.id +
            '" class="form-control mb-2" v-model="selectIdTalla">' +
            '<option  value="" disabled>Selecciones Talla</option>' +
            '<option id="id_talla"  v-for="(optionTalla) in allTallasOPs"  v-bind:value="optionTalla.talla"  >[[optionTalla.num_talla]] / [[optionTalla.nom_talla]]</option></select>' +

            '<input class="form-control big-button" autocomplete="off" placeholder="Cantidad terminada" id="cant" name="cantOpDespacho-' + row.id +
            '"  type="number" v-model="cant" required/>' +
            '<input hidden=True id="usuario"   value="' + row.usuario + '" type="number"/>' +



            '<br><input class="form-control btn btn-block" type="submit"  value="Guardar"></form></div></div>' + '</div>' +

            '</div></template>' +

            '</div>';

    }
</script>






















<script>
    $(document).ready(function() {
        document.getElementById('navMiao').remove();

        document.getElementById('miaoHeader').remove();
        document.getElementById('miaoFoter').remove();
        document.getElementById('miaoMenuButon').remove();

    });
</script>{% endblock %}
</div>
</div>
</div>