<div id="openModalIntegrante" class="modalDialogPadre">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>
    
    <center>
      <h1>Integrantes de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
    </center> 
    
    
<table
id="table"

class="table"
data-toggle="table"
data-height="460"
data-detail-view="true"
data-detail-view-by-click="true"
data-detail-view-icon="false"
data-show-columns="true"
data-search="true"
data-show-fullscreen="true"        
data-show-refresh="true"
data-show-export="true" 
data-locale="es-SP"
data-pagination="true"

data-url="integrante/integrante-list/">
<div class="row">
  <div class="col-sm-2">
    <a href="#openModalHijoAddIntegrante"> 
      <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar </i>
  </a>
</div>
<thead>
  <tr>
    
    <th data-field="nombres" data-detail-formatter="DetailFormatterButnNombre">Nombres</th>
    <th data-field="apellidos">Apellidos</th>
    <th data-field="cedula"   >Cedula</th>
    <th data-field="num_telf" >Telefono</th>

  </tr>
</thead>

</table>










<script>



function DetailFormatterButnNombre(index, row) {
//crea y renderiza la tabla
  return '<br>Correo    :'+row.correo+
         '<br>Sexo      :'+row.sexo+
         '<br>Abilidad  :'+row.abilidad+
         '<br>Direccion :'+row.direccion+
         '<br>Estatus   :'+row.estatus
}
</script>



</div>  
  
</div>




<div id="openModalHijoAddIntegrante" class="modalDialogHijo">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>            
 




    
    <form id="addIntegrante">
      <div class=" content p-3 mb-2 bg-dar text-white "  rows="3"  >
        <div class="border">
          <center>
            <h1>Agregar nuevo integrante de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
          </center>
        
      
          <div class="col-sm-12">
          <div class="form-group">
            <label >Nombres </label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input class="form-control" type="text" name="nombres" placeholder="Nombres" required>
            </div>
          </div>
          </div>
          
          <div class="col-sm-12">
            <div class="form-group">
              <label >Apellido</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="apellidos"  placeholder="apellidos" required>
              </div>
            </div>
          </div>        
         

          <div class="col-sm-12">
            <div class="form-group">
              <label >Cedula</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="cedula" placeholder="Cedula de identidad" required>
              </div>
            </div>
          </div>        
         

          <div class="col-sm-12">
            <div class="form-group">
              <label>Telefono</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="num_telf" placeholder="N° Telefono" required>
              </div>
            </div>
          </div>        
         

          <div class="col-sm-12">
            <div class="form-group">
              <label >Correo</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="email" name="correo" placeholder="correo"  required>
              </div>
            </div>
          </div>        
         

          <div class="col-sm-12">
            <div class="form-group">
              <label >Direccion</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" placeholder="direccion" type="text" name="direccion"  required>
              </div>
            </div>
          </div>    

          <div class="col-sm-12">
            <div class="form-group">
              <label >Abilidad</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" placeholder="abilidad" type="text" name="abilidad"  required>
              </div>
            </div>
          </div>    


          <div class="col-sm-12">
            <div class="form-group">
              <label >Sexo</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <select class="form-control" id="sexo">
                  <option value="select">Select estado</option>
                  <option value="H">Hombre</option>
                  <option value="M">Mujer</option>
                  <option value="O">Otro</option>
                </select>
              </div>
            </div>
          </div>        
         

              
         


          <div class="col-sm-12">
            <div class="form-group">
              <label for="apellidos">Estatus</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
              
                <select class="form-control" id="estatus">
                  <option value="select">Select estado</option>
                  <option value="A">Activo</option>
                  <option value="I">Inactivo</option>
                  
                </select>
              
              
               
              
              </div>
            </div>
          </div>        
    


          <div class="modal-footer">          
            <input type="number" hidden="True" name="empresaColor" value="{{ lastIdEmpresa }}">
            <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">  
            <button class="btn btn-outline-primary form-" type="submit" onclick="location.href='/'">Guardar</button>
          </div>
        </div>
      </div>
   </div>
  </form>
 
  
  
  <!--create integrante-->
<script>
  $("form#addIntegrante").submit(function() { 


var nombresInput      = $('input[name="nombres"]').val().trim();
var sexo              = document.getElementById("sexo").value;
var apellidos         = $('input[name="apellidos"]').val().trim();
var cedula            = $('input[name="cedula"]').val().trim();
var num_telefono      = $('input[name="num_telf"]').val().trim();
var correo            = $('input[name="correo"]').val().trim();
var direccion         = $('input[name="direccion"]').val().trim();
var abilidad          = $('input[name="abilidad"]').val().trim();
var estatus           = document.getElementById("estatus").value;
var idEmpresa         = $('input[name="empresaColor"]').val().trim();
var idUser            = $('input[name="idUser"]').val().trim();
if (nombresInput && apellidos && cedula &&
   sexo && num_telefono && correo &&  direccion && 
   abilidad  && estatus && idEmpresa && idUser 
    ) {
    // Create Ajax Call
    $.ajax({
        url: '{% url "Integrante_ajax_create" %}',
        data: {
            
            'nomIntegrante'     : nombresInput,
            'apeIntegrante'     : apellidos,
            'sexo'              : sexo,
            'cedula'            : cedula,
            'num_telefono'      : num_telefono,
            'correo'            : correo,
            'direccion'         : direccion,
            'abilidad'          : abilidad,
            'estatus'           : estatus,
            'idEmpresa'         : idEmpresa,
            'idUser'            : idUser
            


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
$('form#addIntegrante').trigger("reset");
return false;
});


</script>


  
</div>
