{% load static %}


<div id="openModalOperacion" class="modalDialogPadre">

  





  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>

    <center>



<u>            <h1>Operaciones de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1>
</u> <hr>  </center> 
    
<!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->    
<table
id="operacionTable"
data-id-field="id"
class="table"
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-show-columns="true"
data-search="True"
data-show-fullscreen="true"        
data-locale="es-SP"
data-pagination="true"
data-detail-view-icon="false"
data-show-export="false" 


data-url="operacion/operacion-list/">
<div class="row">
  <div class="col-sm-2">
    <a href="#openModalHijoAddOperacion"> 
      <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar OP </i>
  </a>
</div>
<thead class="thead-dark">
  <tr>
    <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoOperacion" class="text-center" >Info</th>    
    <th data-field="nom_operacion" class="text-center">OP</th>
    <th data-field="nomReferencia" class="text-center">Referencia</th>
    <th data-field="estatus" class="text-center">Estatus</th>
    <th data-field="nomColor" class="text-center">Color</th>
    <th data-field="codColor" class="text-center">Cod. Color</th>
    <th data-field="can_total" class="text-center">Total</th>

    <th data-field="created_at" class="text-center">Fecha creada</th>   
    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPoperacion"class="text-center">Accion</th>
  </tr>
</thead>
</table>





</div>  
</div>






<div id="openModalHijoAddOperacion" class="modalDialogHijo">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>            
 
   
    <form id="addOperacion" autocomplete="off" class="">
      <div class=" content p-3 mb-2 bg-dar text-white "  rows="3"  >
        <div class="border">
          <center>
            <h1>Agregar nueva OP para {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
          </center>
        
      
          <div class="col-sm-12">
          <div class="form-group">
            <label >Nom. Operacion </label>
            <div class="input-group">
              <div class="02"></div>
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input class="form-control" type="text" name="nombreOP" placeholder="Nombre Operacion" required>
            </div>
          </div>
          </div>
          
          <div class="col-sm-12">
            <div class="form-group">
              <label >Referencia</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>

                <input type="text" list="ReferenciaSelect"  name="idReferenciaOP"  required Placeholder="Buscar Referencia..." class="form-control" style="width:300px;">
                <datalist id="ReferenciaSelect">
                  {% for results in allReferencia %}
                          <option  value="{{results.id}}">{{results.nom_referencia}}</option>
                  {% endfor %}
                </datalist>



              </div>
            </div>
          </div>        
         
          <div class="col-sm-12">
            <div class="form-group">
              <label >Color</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>

                <input type="text" list="Color"  name="idColorOp"  required Placeholder="Buscar Color..." class="form-control" style="width:300px;">
                <datalist id="Color">
                  {% for results in allColor %}
                          <option  value="{{results.id}}">{{results.nom_color}}</option>
                  {% endfor %}
                </datalist>


              </div>
            </div>
          </div>        

       
          <div class="col-sm-12">
            <div class="form-group">
              <label >Can Total </label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="number" name="can_totalOP" placeholder="Can total Operacion" required>
              </div>
            </div>
            </div>
      
            <div class="col-sm-12">
              <div class="form-group">
                <label >Descripcion </label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </span>
                  <input class="form-control" type="text" name="NotaOp" placeholder="Nota/Descripcion"> 
                </div>
              </div>
              </div>

          <div class="modal-footer">          
            <input type="number" hidden="True" name="idEmpresaOP" value="{{ lastIdEmpresa }}">
            <input type="number" hidden="True" name="idUserOP" value="{{ login_user_id}}">  
            <button class="btn btn-outline-primary form-" type="submit" onclick="location.href='/'">Guardar</button>
          </div>
        </div>
      </div>
   </div>
  </form>
 
  
  
  


</div>



 


<div id="Scripts">

<!--table operacion-->
<script>

$('#poperacionTable').SetEditable();
function DetailFormatterButInfoOperacion(index, row) {
//crea y renderiza la tabla
  return '<table data-url="operacion/operacion-list/" class="table">'+

  
'<thead class="thead-dark">'+
  '<tr>'+
    '<th class="text-center">Talla</th>'+
    '<th class="text-center">Can total</th>'+
    '<th class="text-center">Can Restante</th>'+
  '</tr>'+  
'</thead><tbody id="listKill'+row.id+'"> </tbody>'+
'</table>'+'<script>'+'tallas('+row.id+');</'+'script>';
         
}
 
function tallas(idOp){
  $.ajax({
        url: '{% url "tallaOP-list" %}',
        data: {
            
            'idOp'    : idOp,         
        },
        dataType: 'json',
        success: function(response){


          
            var len = response.length;
            for(var i=0; i<len; i++){
                var id = response[i].id;
                var canTalla = response[i].can_talla;
                var nombreTalla = response[i].nom_talla;
                var res_talla = response[i].res_talla;
                if (res_talla ==null){
                  res_talla=canTalla;
                } 

                var tr_str = "<tr>" +
                  "<td style='text-align:center'>" + nombreTalla + "</td>" +                   
                  "<td style='text-align:center'>" + canTalla + "</td>" +                   
                  "<td style='text-align:center'>" + res_talla + "</td>" +
                  "</tr>";
                $('#listKill'+idOp).append(tr_str);
            }

        }
    });



}


function DetailFormatterButAccionPoperacion(index,row){
  return '<div class="row">'+
          '<div class="col-sm-3 ">'+
                '<form id="addTallaOP-'+row.id+'" autocomplete="off" class="border">{% csrf_token %}'+
                    '<center><div class="">Agregar Talla: '+row.nom_operacion+'</div></center>'+
                    '<input type="text" list="BuscarTalla"  name="idTalla"  required Placeholder="Buscar talla..." class="form-control" >'+
                    '<datalist id="BuscarTalla">'+
                      '{% for results in allTalla %}'+
                              '<option  value="{{results.id}}">{{results.nom_talla}} #{{results.num_talla}}</option>'+
                      '{% endfor %}'+
                    '</datalist>'+
                            '<input type="number"  name="cantTalla"  class="form-control" Placeholder="Cantidad Talla..." >'+
                            '<input type="number" hidden="True" name="idOperacionTalla" value="'+row.id+'">'+
                            '<input type="number" hidden="True" name="idEmpresaOPTalla" value="{{ lastIdEmpresa }}">'+
                            '<input type="number" hidden="True" name="idUserOPTalla" value="{{ login_user_id}}">'+
                            '<button class="btn btn-outline-primary form-control btn_block" type="submit" onclick="location.href=\'/\' ">Guardar</button>'+
          

                '</form>'+
           '</div>'+
     
        
        '<div class="col-sm-3">'+
          '<form id="editarIpoperacion" style="display: inline"  >{% csrf_token %}'+   
            '<div class="form-group"><label>Estatus</label>'+
            '<select class="form-group" id="estatusUP">'+
                '<option value="'+row.estatus+'">'+row.estatus+'</option>'+
                '<option value="A">Activo</option>'+
                '<option value="I">Inactivo</option>'+
            '</select></div>'+
            '<input type="number" hidden="True" name="idEmpresaUPOP" value="{{ lastIdEmpresa }}">'+
            '<input type="number" hidden="True" name="idUserUPOP" value="{{ login_user_id}}">'+
            '<input type="number" hidden="True" name="idIpoperacionUPOP" value="'+row.id+'"'+           
            
            '</div>'+
          '<input id="EditPoperacionBtn-'+row.id+'" value="Actualizar registro" type="submit" onclick="editPoperacion('+row.id+')" class="btn-md  btn btn-outline-warning btn-rounded  " >'+ 
      
        
       
        

        '</div>'+
        '<div class="col-sm-1">'+'<button value="" onclick="removeOP('+row.id+')"  id="buttonEliminarPoperacion" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>'+
        '</div>'+
        '</form>'+
        
        
        
'<script>'+
  ' $("form#addTallaOP-'+row.id+'").submit(function() { '+
  'var idTalla          = $("input[name=\'idTalla\']").val().trim();'+
  'var cantTalla        = $("input[name=\'cantTalla\']").val().trim();'+
  'var idOperacionTalla = $("input[name=\'idOperacionTalla\']").val().trim();'+
  'var idEmpresaOPTalla = $("input[name=\'idEmpresaOPTalla\']").val().trim();'+
  'var idUserOPTalla    = $("input[name=\'idUserOPTalla\']").val().trim();'+

'if (idTalla &&  cantTalla && idOperacionTalla && idEmpresaOPTalla && idUserOPTalla'+
   ') {'+

 '$.ajax({'+
     'url: "{% url "TallaOP_ajax_create" %}",'+
   'data: {'+

        '\'idTalla\'    : idTalla,'+
        '\'cantTalla\'  : cantTalla,'+
        '\'idOperacionTalla\' : idOperacionTalla,'+
        '\'idEmpresaOPTalla\' :idEmpresaOPTalla,'+
        '\'idUserOPTalla\'    :idUserOPTalla'+
          '},'+
        
      'dataType: \'json\','+
    'success: function (data) {'+
    'if (data.user) {'+
    'appendToUsrTable(data.user);'+
    '}'+
    '}'+
    '});'+    
    '} else {'+
 '   alert("All fields must have a valid value.");'+
'}'+
'$("form#addPoperacion").trigger("reset");'+
 'return false;'+
'});'+
'</'+'script>';
      
}














</script>





 <!--create operacion-->
<script>
  $("form#addOperacion").submit(function() { 
var NotaOp       = $('input[name="NotaOp"]').val().trim();
var can_totalOP       = $('input[name="can_totalOP"]').val().trim();
var idReferenciaOP    = $('input[name="idReferenciaOP"]').val().trim();
var idColorOP         = $('input[name="idColorOp"]').val().trim();
var nomOperacion      = $('input[name="nombreOP"]').val().trim();
var idEmpresaOP       = $('input[name="idEmpresaOP"]').val().trim();
var idUserOP          = $('input[name="idUserOP"]').val().trim();

if (can_totalOP &&  idReferenciaOP && idColorOP && nomOperacion && idEmpresaOP && idUserOP && NotaOp
    ) {
    // Create Ajax Call
    $.ajax({
        url: '{% url "Operacion_ajax_create" %}',
        data: {
            
            'can_totalOP'    : can_totalOP,
            'idReferenciaOP' : idReferenciaOP,
            'idColorOP'      : idColorOP,
            'nomOperacion'   :nomOperacion,
            'idEmpresaOP'    :idEmpresaOP,
            'idUserOP'       :idUserOP,
            'NotaOp':NotaOp

            


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
$('form#addPoperacion').trigger("reset");
return false;
});


</script>
<!--editar ipoperacion-->
<script>
function editPoperacion  (id){

  

var estatusUP           = document.getElementById("estatusUP").value;
var idEmpresaUP         = $('input[name="idEmpresaUPOP"]').val().trim();
var idUserUP            = $('input[name="idUserUPOP"]').val().trim();



if ( estatusUP && idEmpresaUP && idUserUP  
    ) {

    // Create Ajax Call
    $.ajax({
        url: '{% url "Operacion_ajax_update" %}',
        data: {
            'estatusUP'         : estatusUP,
            'idEmpresaUP'       : idEmpresaUP,
            'idUserUP'          : idUserUP,
            'idIpoperacionUP' : id


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
}
</script>
<!--Delete poperacion-->
<script>
 function removeOP (idOperacion) {


  $.ajax({
            url: '{% url "Operacion_ajax_delete" %}',
            data: {
                'id': idOperacion,
            },
            dataType: 'json',
            success: function (data) {
           
              window.location.reload();


              
            }
            });
}




</script>

</div>