{% load static %}


<div id="openModalOperacion" class="modalDialogPadre">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>

    <center>
            <h1>Poperaciones de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
    </center> 
    
<!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->    
<table
id="operacionTable"
data-id-field="id"
class="table"
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-show-columns="true"
data-search="True"
data-show-fullscreen="true"        
data-locale="es-SP"
data-pagination="true"
data-detail-view-icon="false"

data-url="operacion/operacion-list/">
<div class="row">
  <div class="col-sm-2">
    <form id="addPoperacion" autocomplete="off" class="">
      <div class="" >
        <div>
          
          
                                  
              
            <input type="text" list="BuscarIntegrantes"  name="idIntegrante"  required Placeholder="Buscar integrante.." class="form-control" style="width:300px;">
                    <datalist id="BuscarIntegrantes">
                      {% for results in allIntegrante %}
                              <option  value="{{results.id}}">{{results.nombres}} {{results.apellidos}}</option>
                      {% endfor %}
                    </datalist>
                    <input type="number" hidden="True" name="idEmpresa" value="{{ lastIdEmpresa }}">
                    <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">  
                    <button class="btn btn-outline-primary btn-" type="submit" onclick="location.href='/'">Agregar poperacion</button>
                  
          
                    
     
            
         
        </div>
      </div>
       
   </form>
</div>
<thead>
  <tr>
<!--     <th data-field="datosPoperacion" class="text-center">datosPoperacion</th>
 -->    <th data-field="nomPoperacion" class="text-center">Nombre </th>
 <th data-field="apellPoperacion" class="text-center">Apellido </th>
    <th data-field="estatus" class="text-center">Estatus</th>
    <th data-field="created_at" class="text-center">Fecha </th>   
    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPoperacion"class="text-center">Accion</th>
  </tr>
</thead>

</table>









<!--table poperacion-->
<script>

$('#poperacionTable').SetEditable();


function DetailFormatterButAccionPoperacion(index,row){
  return '<form id="editarIpoperacion" style="display: inline"  >{% csrf_token %}<hr>'+
        '<div class="row">'+
        
     
        
        '<div class="col-sm-3">'+
            
            '<div class="form-group"><label>Estatus</label>'+
            '<select class="form-group" id="estatusUP">'+
                '<option value="'+row.estatus+'">'+row.estatus+'</option>'+
                '<option value="A">Activo</option>'+
                '<option value="I">Inactivo</option>'+
            '</select></div>'+
            '<input type="number" hidden="True" name="idEmpresaUP" value="{{ lastIdEmpresa }}">'+
            '<input type="number" hidden="True" name="idUserUP" value="{{ login_user_id}}">'+
            '<input type="number" hidden="True" name="idIpoperacionUP" value="'+row.id+'"'+           
            
            '</div>'+
          '<input id="EditPoperacionBtn-'+row.id+'" value="Actualizar registro" type="submit" onclick="editPoperacion('+row.id+')" class="btn-md  btn btn-outline-warning btn-rounded  " >'+ 
      
        
       
        

        '</div>'+
        '<div class="col-sm-1">'+'<button value="" onclick="remove('+row.id+')"  id="buttonEliminarPoperacion" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>'+
        '</div>'+
        '</form>';
        
        
        
}




</script>

</div>  
</div>




 <!--create ipoperacion-->
<script>
  $("form#addOperacion").submit(function() { 


var idIntegrante      = $('input[name="idIntegrante"]').val().trim();
var idEmpresa         = $('input[name="idEmpresa"]').val().trim();
var idUser            = $('input[name="idUser"]').val().trim();
if (idIntegrante &&  idEmpresa && idUser 
    ) {
    // Create Ajax Call
    $.ajax({
        url: '{% url "Operacion_ajax_create" %}',
        data: {
            
            'idIntegrante'     : idIntegrante,
         
            'idEmpresa'         : idEmpresa,
            'idUser'            : idUser
            


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
$('form#addPoperacion').trigger("reset");
return false;
});


</script>
<!--editar ipoperacion-->
<script>
function editPoperacion  (id){

  

var estatusUP           = document.getElementById("estatusUP").value;
var idEmpresaUP         = $('input[name="idEmpresaUP"]').val().trim();
var idUserUP            = $('input[name="idUserUP"]').val().trim();



if ( estatusUP && idEmpresaUP && idUserUP  
    ) {

    // Create Ajax Call
    $.ajax({
        url: '{% url "Operacion_ajax_update" %}',
        data: {
            'estatusUP'         : estatusUP,
            'idEmpresaUP'       : idEmpresaUP,
            'idUserUP'          : idUserUP,
            'idIpoperacionUP' : id


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
}
</script>
<!--Delete poperacion-->
<script>
 function remove (idOperacion) {


  $.ajax({
            url: '{% url "Operacion_ajax_delete" %}',
            data: {
                'id': idOperacion,
            },
            dataType: 'json',
            success: function (data) {
           
              window.location.reload();


              
            }
            });
}




</script>

