{% load static %}


<div id="openModalOperacion" class="modalDialogPadre">
    <div>
        <a href="#close" title="Close" class="close">
            <i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i>
        </a>
        <center>
            <br>
            <h1>Operaciones {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
        </center>
        <!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->
        <table id="operacionTable" data-id-field="id" class="table scrollme " data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-show-columns="true" data-search="True" data-show-fullscreen="true" data-locale="es-SP" data-pagination="true"
            data-detail-view-icon="false" data-show-export="false" data-url="operacion/operacion-list/">

            <div class="row ">

                <div class="col-sm-2">
                    <a href="#openModalHijoAddOperacion">
                        <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar OP </i>
                    </a>
                </div>

                <thead class="thead-dark">
                    <tr>
                        <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoOperacion" class="text-center">Info
                        </th>
                        <th data-field="nom_operacion" class="text-center">OP</th>
                        <th data-field="nomReferencia" class="text-center">Referencia</th>
                        <th data-field="estatus" class="text-center">Estatus</th>
                        <th data-field="nomColor" class="text-center">Color</th>
                        <th data-field="can_restante" class="text-center">Cant. Faltante</th>
                        <th data-field="can_total" class="text-center">Cant. Total</th>
                        <th data-field="created_at" class="text-center">Fecha creada</th>
                        <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPoperacion" class="text-center">
                            Accion</th>
                    </tr>
                </thead>
        </table>





        </div>
    </div>






    <div id="openModalHijoAddOperacion" class="modalDialogHijo">
        <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>




            <div class="container">
                <div class="wrapper">
                    <ul class="steps">
                        <li class="is-active">Operación</li>
                        <li>Detalle</li>
                        <li>Talla</li>
                    </ul>
                    <form id="addOperacion" autocomplete="off" class="form-wrapper">

                        <fieldset class="section is-active">
                            <h3>
                                Registro de Operación
                                <br>{% for i in nomEmpresaU %}{{ i|title }}{% endfor %}
                            </h3>
                            <label for=""><p style="text-align: right important;" class="text-sm-left">Nombre Operación</p> </label>
                            <input type="text" name="nombreOP" id="name" placeholder="Nombre Operacion">
                            <label for=""><p class="text-sm-left">Cantidad Operación  </p></label>
                            <input type="number" name="can_totalOP" id="" class="form-group cm-number" placeholder=" Total">
                            <input type="number" hidden="True" name="idEmpresaOP" value="{{ lastIdEmpresa }}">
                            <input type="number" hidden="True" name="idUserOP" value="{{ login_user_id}}">
                            <div class="button">Detalle</div>
                        </fieldset>

                        <fieldset class="section">
                            <h3>Contenido
                            </h3>
                            <div class="row cf">
                                <div class="four col bg-dange">
                                    <h4>Referencia</h4>
                                    <input type="text" list="ReferenciaSelect" placeholder="Buscar Referencia..." class="form-control" style="width:150px;">
                                    <datalist id="ReferenciaSelect">
                                        {% for ReferenciaSelect in allReferencia %}
                                        <option value="{{ReferenciaSelect.nom_referencia}}">{{ReferenciaSelect.nom_referencia}}
                                        <input type="number" hidden="True" name="idReferenciaOP" value="{{ ReferenciaSelect.id }}">
                                        </option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div class="four col">
                                    <h4>Color</h4>
                                    <input type="text" list="Color" required placeholder="Buscar Color..." class="form-control" style="width:150px;">
                                    <datalist id="Color" class="select ">
                                        {% for resultsColor in allColor %}                                        
                                        <option value="{{resultsColor.nom_color}}">
                                            {{resultsColor.nom_color}} # {{resultsColor.codigo_color}}
                                        </option>
                                        <input type="number" hidden="True" name="idColorOp" value="{{ resultsColor.id }}">
                                        {% endfor %}
                                    </datalist>
                                </div>
                                <div class="four col">
                                    <h4>Descripcion</h4>
                                    <input type="text" name="notaDes" placeholder="Nota - Descripcion" style="width:150px;">
                                </div>
                            </div>
                            <div class="button">Talla</div>
                        </fieldset>

                        <fieldset class="section">
                            <h3>Registro de Talla</h3>
                            <table id="TallaTable" data-id-field="id" class="table table-sm" data-toggle="table" data-detail-view="true" data-detail-view-by-click="false" data-show-columns="false" data-search="false" data-show-fullscreen="false" data-locale="es-SP" data-pagination="true"
                                data-detail-view-icon="false" data-url="talla/talla-list/">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th data-field="nom_talla" class="text-center">Nombre Talla </th>
                                        <th data-field="btnAddTalla" class="text-center">Cantidad</th>
                                    </tr>
                                </thead>
                            </table>
                            <!-- <input class="submit button" type="submit" value="Sign Up"> -->


                            <input class="submit button" type="submit" onclick="ModalOperacion()" value="Guardar">
                        </fieldset>


                        <!-- 
                        <fieldset class="section">
                            <br>
                            <h3>¡Operación creada con exito!</h3>
                            <p></p> 
                        <div class="button">Reset Form</div>
                       </fieldset> -->
                    </form>
                </div>
            </div>







            <!--        <form id="addOperacion" autocomplete="off" class="">
                <div class=" content p-3 mb-2 bg-dar text-white " rows="3">
                    <div class="border">
                        <center>
                            <h1>Agregar nueva OP para {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
                            <hr>
                        </center>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Nom. Operacion </label>
                                <div class="input-group">
                                    <div class="02"></div>
                                    <span class="input-group-addon">
                                              <i class="fa fa-user"></i>
                                            </span>
                                    <input class="form-control" type="text" name="nombreOP" placeholder="Nombre Operacion" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Referencia</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>


                                    <input type="text" list="ReferenciaSelect" name="idReferenciaOP" required Placeholder="Buscar Referencia..." class="form-control" style="width:300px;">
                                    <datalist id="ReferenciaSelect">
                      {% for results in allReferencia %}
                      <option value="{{results.id}}">{{results.nom_referencia}}</option>
                      {% endfor %}
                    </datalist>



                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Color</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>

                                    <input type="text" list="Color" name="idColorOp" required Placeholder="Buscar Color..." class="form-control" style="width:300px;">
                                    <datalist id="Color">
                  {% for results in allColor %}
                  <option value="{{results.id}}">{{results.nom_color}}</option>
                  {% endfor %}
                </datalist>


                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Can Total </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                                    <input class="form-control" type="number" name="can_totalOP" placeholder="Can total Operacion" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Descripcion </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                                    <input class="form-control" type="text" name="NotaOp" placeholder="Nota/Descripcion">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <input type="number" hidden="True" name="idEmpresaOP" value="{{ lastIdEmpresa }}">
                            <input type="number" hidden="True" name="idUserOP" value="{{ login_user_id}}">
                            <button class="btn btn-outline-primary form-" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>

            </form>
 -->
        </div>




    </div>






    <div id="Scripts">

        <!--table operacion-->
        <script>
            $('#operacionTable').SetEditable();

            function DetailFormatterButInfoOperacion(index, row) {
                //crea y renderiza la tabla
                return '<div class="row">' +
                    '<div class="col-sm-3">' +
                    '</div>' +

                    '<div class="col-sm-6">' +
                    '<table " class="table border border-info ">' +
                    '<thead class="thead-dark">' +
                    '<tr>' +
                    '<th class="text-center">Talla</th>' +
                    '<th class="text-center">Talla restante</th>' +
                    '<th class="text-center">Total</th>' +
                    '<th class="text-center">Eliminar talla</th>' +

                    '</tr>' +
                    '</thead><tbody calss="table-striped table  table-sm  table-bordered table-hover" id="listKill' + row.id + '"> </tbody>' +
                    '</table>' + '<script>' + 'tallas(' + row.id + ');</' + 'script>' +
                    '</div>' +
                    '</div>';

            }

            function tallas(idOp) {
                $.ajax({
                    url: '{% url "tallaOP-list" %}',
                    data: {

                        'idOp': idOp,
                    },
                    dataType: 'json',
                    success: function(response) {



                        var len = response.length;
                        for (var i = 0; i < len; i++) {
                            var id = response[i].id;
                            var canTalla = response[i].can_talla;
                            var nombreTalla = response[i].nom_talla;
                            var res_talla = response[i].res_talla;

                            if (res_talla == null) {
                                res_talla = canTalla;
                            }

                            var tr_str = "<tr>" +
                                "<td style='text-align:center'>" + nombreTalla + "</td>" +
                                "<td style='text-align:center'>" + res_talla + "</td>" +
                                "<td style='text-align:center'>" + canTalla + "</td>" +

                                "<td style='text-align:center'>" + "<button class='btn btn-sm btn-block btn-outline-danger  icofont-ui-remove' onclick='reoveCanTalla(" + id + ")'> " + "</td>" +
                                "</tr>";
                            $('#listKill' + idOp).append(tr_str);
                        }

                    }
                });



            }

            function reoveCanTalla(idCantalla) {
                $.ajax({
                    url: '{% url "TallaOP_ajax_delete" %}',
                    data: {
                        'id': idCantalla,
                    },
                    dataType: 'json',
                    success: function(data) {
                        window.location.reload();

                    }
                });
            }


            function DetailFormatterButAccionPoperacion(index, row) {
                return '<div class="row">' +
                    '<div class="col-sm-3 ">' +
                    '<form id="addTallaOP-' + row.id + '" autocomplete="off" class="border">{% csrf_token %}' +
                    '<center><div class="">Agregar Talla: ' + row.nom_operacion + '</div></center>' +
                    '<input type="text" list="BuscarTalla" name="idTallaOPP" required Placeholder="Buscar talla..." class="form-control" >' +
                    '<datalist id="BuscarTalla">' +
                    '{% for restOPtalla in allTalla %}' +
                    '<option data-value="{{restOPtalla.id}}">{{restOPtalla.nom_talla}}' +
                    '</option>' +
                    '{% endfor %}' +
                    '</datalist>' +
                    '<input type="number"  name="cantTalla"  class="form-control" Placeholder="Cantidad Talla..." >' +
                    '<input type="number" hidden="True" name="idOperacionTalla" value="' + row.id + '">' +
                    '<input type="number" hidden="True" name="idEmpresaOPTalla" value="{{ lastIdEmpresa }}">' +
                    '<input type="number" hidden="True" name="idUserOPTalla" value="{{ login_user_id}}">' +
                    '<button class="btn btn-outline-primary form-control btn_block" type="submit" >Guardar</button>' +


                    '</form>' +
                    '</div>' +


                    '<div class="col-sm-3">' +
                    '<form id="editarIpoperacion" style="display: inline"  >{% csrf_token %}' +
                    '<div class="form-group"><label>Estatus</label>' +
                    '<select class="form-group" id="estatusUP">' +
                    '<option value="' + row.estatus + '">' + row.estatus + '</option>' +
                    '<option value="A">Activo</option>' +
                    '<option value="I">Inactivo</option>' +
                    '</select></div>' +
                    '<input type="number" hidden="True" name="idEmpresaUPOP" value="{{ lastIdEmpresa }}">' +
                    '<input type="number" hidden="True" name="idUserUPOP" value="{{ login_user_id}}">' +
                    '<input type="number" hidden="True" name="idIpoperacionUPOP" value="' + row.id + '"' +

                    '</div>' +
                    '<input id="EditPoperacionBtn-' + row.id + '" value="Actualizar registro" type="submit" onclick="editPoperacion(' + row.id + ')" class="btn-md  btn btn-outline-warning btn-rounded  " >' +





                    '</div>' +
                    '<div class="col-sm-1">' + '<button value="" onclick="removeOP(' + row.id + ')"  id="buttonEliminarPoperacion" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>' +
                    '</div>' +
                    '</form>' +



                    '<script>' +






                    ' $("form#addTallaOP-' + row.id + '").submit(function() { ' +
                    'var idTallaOPP       = $("input[name=\'idTallaOPP\']").val().trim();' +
                    'var cantTalla        = $("input[name=\'cantTalla\']").val().trim();' +
                    'var idOperacionTalla = $("input[name=\'idOperacionTalla\']").val().trim();' +
                    'var idEmpresaOPTalla = $("input[name=\'idEmpresaOPTalla\']").val().trim();' +
                    'var idUserOPTalla    = $("input[name=\'idUserOPTalla\']").val().trim();' +
                    'alert(idTallaOPP);' +
                    'if (idTallaOPP && cantTalla && idOperacionTalla && idEmpresaOPTalla && idUserOPTalla' +
                    ') {' +

                    '$.ajax({' +
                    'url: "{% url "TallaOP_ajax_create" %}",' +
                    'data: {' +

                    '\'idTallaOPP\'       : idTallaOPP,' +
                    '\'cantTalla\'        : cantTalla,' +
                    '\'idOperacionTalla\' : idOperacionTalla,' +
                    '\'idEmpresaOPTalla\' :idEmpresaOPTalla,' +
                    '\'idUserOPTalla\'    :idUserOPTalla,' +
                    '\'f2\'    :2' +
                    '},' +

                    'dataType: \'json\',' +
                    'success: function (data) {window.location.reload();' +
                    'if (data.user) {' +
                    'appendToUsrTable(data.user);' +
                    '}' +
                    '}' +
                    '});' +
                    '} else {' +
                    '   alert("All fields must have a valid value.");' +
                    '}' +
                    '$("form#addPoperacion").trigger("reset");' +
                    'return false;' +
                    '});' +
                    '</' + 'script>';

            }
        </script>





        <!--create operacion-->
        <script>
            $("form#addOperacion").submit(function() {


                var NotaDesOp = $('input[name="notaDes"]').val().trim();
                var can_totalOP = $('input[name="can_totalOP"]').val().trim();
                var nomOperacion = $('input[name="nombreOP"]').val().trim();
                var idReferenciaOP = $('input[name="idReferenciaOP"]').val().trim();
                var idColorOP = $('input[name="idColorOp"]').val().trim();
                var idEmpresaOP = $('input[name="idEmpresaOP"]').val().trim();
                var idUserOP = $('input[name="idUserOP"]').val().trim();

                if (can_totalOP && idReferenciaOP && idColorOP && nomOperacion && idEmpresaOP && idUserOP) {

                    // Create Ajax Call
                    $.ajax({
                        url: '{% url "Operacion_ajax_create" %}',
                        data: {

                            'can_totalOP': can_totalOP,
                            'idReferenciaOP': idReferenciaOP,
                            'idColorOP': idColorOP,
                            'nomOperacion': nomOperacion,
                            'idEmpresaOP': idEmpresaOP,
                            'idUserOP': idUserOP,
                            'NotaOp': NotaDesOp
                        },
                        dataType: 'json',
                        success: function(data) {
                            var idOperacion = data.lastIdOperacion;
                            var arrayTallas = data.tallasEmpresa;
                            btnTallaAdd(idOperacion, arrayTallas, idUserOP);


                        }

                    });


                } else {
                    console.log("All fields must have a valid value.");
                }
                $('form#addPoperacion').trigger("reset");
                return false;
            });

            function btnTallaAdd(idOperacion, arrayTallas, idUserOP) {
                var arrayTallaOp = JSON.parse(arrayTallas);
                console.log("I-id operacion ", idOperacion);
                let idOpeT = idOperacion;
                arrayTallaOp.forEach(function(obj) {
                    //console.log(obj);
                    //console.log("id talla ", obj.id);
                    //console.log("id empresa ", obj.empresa_id);
                    console.log("II- id operacion ", idOpeT);
                    var idTallaOP = obj.id;
                    var idEmpresa = obj.empresa_id;


                    var canTallaOP = $('input[name="inputTalla-' + idTallaOP + '"]').val().trim();
                    $.ajax({
                        url: '{% url "TallaOP_ajax_create" %}',
                        data: {
                            'idTalla': idTallaOP,
                            'cantTalla': canTallaOP,
                            'idOperacionTalla': idOpeT,
                            'idEmpresaOPTalla': idEmpresa,
                            'idUserOPTalla': idUserOP,
                            'f2': 1

                        },
                        dataType: 'json',
                        success: function(data) {
                            console.log("passsssssss");
                        }



                    });






                });

            }
        </script>
        <!--editar ipoperacion-->
        <script>
            function editPoperacion(id) {



                var estatusUP = document.getElementById("estatusUP").value;
                var idEmpresaUP = $('input[name="idEmpresaUPOP"]').val().trim();
                var idUserUP = $('input[name="idUserUPOP"]').val().trim();



                if (estatusUP && idEmpresaUP && idUserUP) {

                    // Create Ajax Call
                    $.ajax({
                        url: '{% url "Operacion_ajax_update" %}',
                        data: {
                            'estatusUP': estatusUP,
                            'idEmpresaUP': idEmpresaUP,
                            'idUserUP': idUserUP,
                            'idIpoperacionUP': id



                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data.user) {
                                appendToUsrTable(data.user);
                            }
                        }
                    });

                } else {
                    console.log("All fields must have a valid value.");
                }
            }
        </script>
        <!--Delete poperacion-->
        <script>
            function removeOP(idOperacion) {


                $.ajax({
                    url: '{% url "Operacion_ajax_delete" %}',
                    data: {
                        'id': idOperacion,
                    },
                    dataType: 'json',
                    success: function(data) {

                        window.location.reload();



                    }
                });
            }
        </script>

    </div>