{% load static %}


<div id="openModalPatinador" class="modalDialogPadre">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>
    
    <center>
      <h1>Patinadores de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
    </center> 


    
<!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->    
<table
id="patinadorTable"
data-id-field="id"
class="table"
data-toggle="table"
data-detail-view="true"
data-detail-view-by-click="true"
data-show-columns="true"
data-search="true"
data-show-fullscreen="true"        
data-locale="es-SP"
data-pagination="true"
data-detail-view-icon="false"

data-url="patinador/patinador-list/">
<div class="row">
  <div class="col-sm-2">
    <a href="#openModalHijoAddPatinador"> 
      <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar </i>
  </a>
</div>
<thead>
  <tr>
    <th data-field="datosPatinador" class="text-center">datosPatinador</th>
    <th data-field="nom_patinador" class="text-center">Nombre del patinador</th>
    <th data-field="estatus" class="text-center">Estatus</th>   
    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPatinador"class="text-center">Accion</th>
  </tr>
</thead>

</table>










<script>

$('#patinadorTable').SetEditable();

function DetailFormatterButInfoPatinador(index, row) {
//crea y renderiza la tabla
  return '<br>Correo    :'+row.correo+
         '<br>Sexo      :'+row.sexo+
         '<br>Abilidad  :'+row.abilidad+
         '<br>Direccion :'+row.direccion+
         '<br>Estatus   :'+row.estatus
}
function DetailFormatterButAccionPatinador(index,row){
  return '<form id="editarIpatinador" style="display: inline"  >{% csrf_token %}<hr>'+
        '<div class="row">'+
        
        
        '<div class="col-sm-3">'+
            '<div class="form-group"><label>Telefono</label>'+
            '<input class="form-control" value="'+row.num_telf+'" name="num_telfUP"></div>'+
            
           
        '</div>'+
        
        '<div class="col-sm-3">'+
            
            '<div class="form-group"><label>Estatus</label>'+
            '<select class="form-group" id="estatusUP">'+
                '<option value="'+row.estatus+'">'+row.estatus+'</option>'+
                '<option value="A">Activo</option>'+
                '<option value="I">Inactivo</option>'+
            '</select></div>'+
            '<input type="number" hidden="True" name="idEmpresaUP" value="{{ lastIdEmpresa }}">'+
            '<input type="number" hidden="True" name="idUserUP" value="{{ login_user_id}}">'+
            '<input type="number" hidden="True" name="idIpatinadorUP" value="'+row.id+'"'+           
            
            '</div>'+
          '<input id="EditIpatinadorBtn-'+row.id+'" value="Actualizar registro" type="submit" onclick="editIpatinador('+row.id+')" class="btn-md  btn btn-outline-warning btn-rounded  " >'+ 
      
        
       
        

        '</div>'+
        '<div class="col-sm-1">'+'<button value="" onclick="remove('+row.id+')"  id="buttonEliminarIpatinador" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>'+
        '</div>'+
        '</form>';
        
        
        
}




</script>

</div>  
</div>




<div id="openModalHijoAddIpatinador" class="modalDialogHijo">
  <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>            
 




    
    <form id="addPatinador" class="">
      <div class=" content p-3 mb-2 bg-dar text-white "  rows="3"  >
        <div class="border">
          <center>
            <h1>Agregar nuevo ipatinador de {% for i in nomEmpresaU %}{{ i }}{% endfor %}</h1><hr>
          </center>
        
      
          <div class="col-sm-12">
          <div class="form-group">
            <label >Nombres </label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input class="form-control" type="text" name="nombres" placeholder="Nombres" required>
            </div>
          </div>
          </div>
          
          <div class="col-sm-12">
            <div class="form-group">
              <label >Apellido</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="apellidos"  placeholder="apellidos" required>
              </div>
            </div>
          </div>        
         
          <div class="col-sm-12">
            <div class="form-group">
              <label >Cedula</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="cedula" placeholder="Cedula de identidad" required>
              </div>
            </div>
          </div>        

          <div class="col-sm-12">
            <div class="form-group">
              <label>Telefono</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="text" name="num_telf" placeholder="N° Telefono" required>
              </div>
            </div>
          </div>        
         
          <div class="col-sm-12">
            <div class="form-group">
              <label >Correo</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" type="email" name="correo" placeholder="correo"  required>
              </div>
            </div>
          </div>        
         
          <div class="col-sm-12">
            <div class="form-group">
              <label >Direccion</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" placeholder="direccion" type="text" name="direccion"  required>
              </div>
            </div>
          </div>    

          <div class="col-sm-12">
            <div class="form-group">
              <label >Abilidad</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input class="form-control" placeholder="abilidad" type="text" name="abilidad"  required>
              </div>
            </div>
          </div>    

          <div class="col-sm-12">
            <div class="form-group">
              <label >Sexo</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <select class="form-control" id="sexo">
                  <option value="select">Select sexo</option>
                  <option value="H">Hombre</option>
                  <option value="M">Mujer</option>
                  <option value="O">Otro</option>
                </select>
              </div>
            </div>
          </div>        
     
          <div class="col-sm-12">
            <div class="form-group">
              <label for="apellidos">Estatus</label>
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
              
                <select class="form-control" id="estatus">
                  <option value="select">Select estado</option>
                  <option value="A">Activo</option>
                  <option value="I">Inactivo</option>
                  
                </select>
              
              
               
              
              </div>
            </div>
          </div>        
    
          <div class="modal-footer">          
            <input type="number" hidden="True" name="empresaColor" value="{{ lastIdEmpresa }}">
            <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">  
            <button class="btn btn-outline-primary form-" type="submit" onclick="location.href='/'">Guardar</button>
          </div>
        </div>
      </div>
   </div>
  </form>
 
  
  



  <!--create ipatinador-->
<script>
  $("form#addIpatinador").submit(function() { 


var nombresInput      = $('input[name="nombres"]').val().trim();
var sexo              = document.getElementById("sexo").value;
var apellidos         = $('input[name="apellidos"]').val().trim();
var cedula            = $('input[name="cedula"]').val().trim();
var num_telefono      = $('input[name="num_telf"]').val().trim();
var correo            = $('input[name="correo"]').val().trim();
var direccion         = $('input[name="direccion"]').val().trim();
var abilidad          = $('input[name="abilidad"]').val().trim();
var estatus           = document.getElementById("estatus").value;
var idEmpresa         = $('input[name="empresaColor"]').val().trim();
var idUser            = $('input[name="idUser"]').val().trim();
if (nombresInput && apellidos && cedula &&
   sexo && num_telefono && correo &&  direccion && 
   abilidad  && estatus && idEmpresa && idUser 
    ) {
    // Create Ajax Call
    $.ajax({
        url: '{% url "Patinador_ajax_create" %}',
        data: {
            
            'nomIpatinador'     : nombresInput,
            'apeIpatinador'     : apellidos,
            'sexo'              : sexo,
            'cedula'            : cedula,
            'num_telefono'      : num_telefono,
            'correo'            : correo,
            'direccion'         : direccion,
            'abilidad'          : abilidad,
            'estatus'           : estatus,
            'idEmpresa'         : idEmpresa,
            'idUser'            : idUser
            


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
$('form#addIpatinador').trigger("reset");
return false;
});


</script>



<!--editar ipatinador-->
<script>
function editIpatinador  (id){

  
var nombresInputUP      = $('input[name="nombresUP"]').val().trim();
var apellidosUP         = $('input[name="apellidosUP"]').val().trim();
var sexoUP              = document.getElementById("sexoUP").value;
var cedulaUP            = $('input[name="cedulaUP"]').val().trim();
var num_telefonoUP      = $('input[name="num_telfUP"]').val().trim();
var correoUP            = $('input[name="correoUP"]').val().trim();
var direccionUP         = $('input[name="direccionUP"]').val().trim();
var abilidadUP          = $('input[name="abilidadUP"]').val().trim();
var estatusUP           = document.getElementById("estatusUP").value;
var idEmpresaUP         = $('input[name="idEmpresaUP"]').val().trim();
var idUserUP            = $('input[name="idUserUP"]').val().trim();



if (nombresInputUP && apellidosUP && cedulaUP &&
   sexoUP && num_telefonoUP && correoUP &&  direccionUP && 
   abilidadUP  && estatusUP && idEmpresaUP && idUserUP  
    ) {
      alert("idUserUP");

    // Create Ajax Call
    $.ajax({
        url: '{% url "Patinador_ajax_update" %}',
        data: {
            
            'nombresInputUP'    : nombresInputUP,
            'apellidosUP'       : apellidosUP,
            'sexoUP'            : sexoUP,
            'cedulaUP'          : cedulaUP,
            'num_telefonoUP'    : num_telefonoUP,
            'correoUP'          : correoUP,
            'direccionUP'       : direccionUP,
            'abilidadUP'        : abilidadUP,
            'estatusUP'         : estatusUP,
            'idEmpresaUP'       : idEmpresaUP,
            'idUserUP'          : idUserUP,
            'idIpatinadorUP'    : id


            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
}
</script>



<!--Delete patinador-->
<script>
 function remove (idIpatinador) {


  $.ajax({
            url: '{% url "Patinador_ajax_delete" %}',
            data: {
                'id': idIpatinador,
            },
            dataType: 'json',
            success: function (data) {
           
              window.location.reload();


              
            }
            });
}




</script>
</div>
