{% load static %}


<div id="openModalPatinador" class="modalDialogPadre">
    <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i></a>

        <center>
            <br>
            <h1>Patinadores {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>


            <hr>
        </center>




        <div class="row">
            <div class="col-sm-6">

                <form id="addPatinador" autocomplete="off">
                    <div class="form-inline">
                        <div class="container">
                            <h6 class="form">Agregar patinador</h6>
                            <br>
                            <input type="text" list="BuscarIntegrantes" name="idIntegrantePatinador" required placeholder="Integrante..." class="form-control" style="width:300px;">
                            <datalist class="form-" id="BuscarIntegrantes">
                                {% for resultsInt in allIntegrante %}
                                <option value="{{resultsInt.cedula}} {{resultsInt.nombres}} {{resultsInt.apellidos}}">
                                </option>
<!--                                 <input type="number" hidden="True" name="idIntegrantePatinador" value="{{ resultsInt.id }}"> 
 -->                                {% endfor %}
                            </datalist>
                            <input type="text" name="passwordP" placeholder="clave patinador" class="form-control" style="width:300px;">
                            <div class="fullday">
                                <input class="form-control" type="checkbox" id="check"> Controlador del Despacho
                            </div>
                            <input type="number" hidden="True" name="idEmpresa" value="{{ lastIdEmpresa }}">
                            <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">
                            <button class="btn button btn-outline-primary form-control" type="submit" onclick="location.href='/'">Agregar patinador</button>
                        </div>
                    </div>
                </form>
            </div>




            <!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->
            <div class="col-sm-12">
                <table id="patinadorTable" data-id-field="id" class="table" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-show-columns="true" data-search="True" data-show-fullscreen="true" data-locale="es-SP" data-pagination="true"
                    data-detail-view-icon="false" data-url="patinador/patinador-list/">

                    <thead class="thead-dark">
                        <tr>
                            <!--     <th data-field="datosPatinador" class="text-center">datosPatinador</th>
 -->
                            <th data-field="nomPatinador" class="text-center">Nombre </th>
                            <th data-field="apellPatinador" class="text-center">Apellido </th>
                            <th data-field="estatus" class="text-center">Estatus</th>
                            <th data-field="created_at" class="text-center">Fecha </th>
                            <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPatinador" class="text-center">Accion</th>
                        </tr>
                    </thead>

                </table>
            </div>

        </div>





        <!--table patinador-->
        <script>
            $('#patinadorTable').SetEditable();


            function DetailFormatterButAccionPatinador(index, row) {
                return '<form @submit.prevent="remove" id="editarIpatinador" style="display: inline"  >{% csrf_token %}<hr>' +
                    '<div class="row">' +



                    '<div class="col-sm-3">' +

                    '<div class="form-group"><label>Estatus</label>' +
                    '<select class="form-group" id="estatusUP">' +
                    '<option value="' + row.estatus + '">' + row.estatus + '</option>' +
                    '<option value="A">Activo</option>' +
                    '<option value="I">Inactivo</option>' +
                    '</select></div>' +
                    '<input type="number" hidden="True" name="idEmpresaUP" value="{{ lastIdEmpresa }}">' +
                    '<input type="number" hidden="True" name="idUserUP" value="{{ login_user_id}}">' +
                    '<input type="number" hidden="True" name="idIpatinadorUP" value="' + row.id + '"' +

                    '</div>' +
                    '<input id="EditPatinadorBtn-' + row.id + '" value="Actualizar registro" type="submit" onclick="editPatinador(' + row.id + ')" class="btn-md  btn btn-outline-warning btn-rounded  " >' +





                    '</div>' +
                    '<div class="col-sm-1">' + '<button value="" class="btn btn-block btn-sm btn-outline-danger icofont-ui-remove" onclick="removePtinador(' + row.id + ')"  ></button>' +
                    '</div>' +
                    '</form>';



            }
        </script>

    </div>
</div>


<script>
</script>

<!--create ipatinador-->
<script>
    //#check box al agregar patinador para el control del despacho
    check = document.getElementById("check");
    globalThis.ctrlDespachoCheck = check.checked;
    check.addEventListener("click", function() {
        console.log("estado al hacer check o uncheck", this.checked);
        globalThis.ctrlDespachoCheck = check.checked;

    });







    $("form#addPatinador").submit(function() {

        var idIntegrante = $('input[name="idIntegrantePatinador"]').val().trim();
        var idEmpresa = $('input[name="idEmpresa"]').val().trim();
        var idUser = $('input[name="idUser"]').val().trim();
        var ctrlDespach = ctrlDespachoCheck;
        console.log(idIntegrante);
        if (ctrlDespach == null) {
            ctrlDespach = 0;

        }

        if (idIntegrante && idEmpresa && idUser) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "Patinador_ajax_create" %}',
                data: {

                    'idIntegrante': idIntegrante,
                    'ctrlDespacho': ctrlDespach,
                    'idEmpresa': idEmpresa,
                    'idUser': idUser




                },
                dataType: 'json',
                success: function(data) {
                    if (data.user) {
                        appendToUsrTable(data.user);
                    }
                }
            });

        } else {
            alert("All fields must have a valid value.");
        }
        $('form#addPatinador').trigger("reset");
        return false;
    });
</script>
<!--editar ipatinador-->
<script>
    function editPatinador(id) {



        var estatusUP = document.getElementById("estatusUP").value;
        var idEmpresaUP = $('input[name="idEmpresaUP"]').val().trim();
        var idUserUP = $('input[name="idUserUP"]').val().trim();



        if (estatusUP && idEmpresaUP && idUserUP) {

            // Create Ajax Call
            $.ajax({
                url: '{% url "Patinador_ajax_update" %}',
                data: {
                    'estatusUP': estatusUP,
                    'idEmpresaUP': idEmpresaUP,
                    'idUserUP': idUserUP,
                    'idIpatinadorUP': id



                },
                dataType: 'json',
                success: function(data) {
                    if (data.user) {
                        appendToUsrTable(data.user);
                    }
                }
            });

        } else {
            alert("All fields must have a valid value.");
        }
    }
</script>
<!--Delete patinador-->
<script>
    function removePtinador(idPatinador) {

        $.ajax({
            url: '{% url "Patinador_ajax_delete" %}',
            data: {
                'idPatinador': idPatinador,
            },
            dataType: 'json',
            success: function(data) {

                window.location.reload();



            }
        });

    }
</script>