{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />



<div id="openModalPatinador" class="modalDialogPadre">
    <div>
        <button onclick="location.href='#close'" class="close" type="button">
            <i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i>
        </button>

        <center>
            <br>
            <h1>Patinadores {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
            <hr>
        </center>




        <div class="row">




            <!--

data-show-refresh="true"
data-auto-refresh="true"
data-auto-refresh-interval="30"
data-auto-refresh-silent="true"
data-auto-refresh-status="true"
-->
            <div class="col-sm-12">

                <button onclick="location.href='#openModalHijoAddPatinador'" class="btn" type="button">
                    <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar patinador </i>
                </button>

                <table id="patinadorTable" data-id-field="id" class="table" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-show-columns="true" data-search="True" data-show-fullscreen="true" data-locale="es-SP" data-pagination="true"
                    data-detail-view-icon="false" data-url="patinador/patinador-list/">

                    <thead class="thead-dark">
                        <tr> {% comment %}
                            <th data-field="id" class="text-center ">id</th> {% endcomment %}
                            <!--     <th data-field="datosPatinador" class="text-center">datosPatinador</th>
 -->
                            <th data-field="nomPatinador" class="text-center">Nombre </th>
                            <th data-field="apellPatinador" class="text-center">Apellido </th>
                            <th data-field="estatus" class="text-center">Estatus</th>
                            <th data-field="created_at" class="text-center">Fecha </th>
                            <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionPatinador" class="text-center">Accion</th>
                        </tr>
                    </thead>

                </table>
            </div>

        </div>
        <style>

        </style>

        <!--table patinador-->
        <script>
            $('#patinadorTable').SetEditable();


            function Toggle() {
                var temp = document.getElementById("typepass");
                if (temp.type === "password") {
                    temp.type = "text";
                } else {
                    temp.type = "password";
                }
            }








            function DetailFormatterButAccionPatinador(index, row) {
                return '<div class="row">' +
                    '<form @submit.prevent="remove" id="editarIpatinador" class="form form-">{% csrf_token %}' +



                    '<div class="form-group"><label>Clave patinador </label>' +
                    '<input type="password" id="typepass"  Class="form-control" disabled value="' + row.password + '">' +
                    '<input type="checkbox" onclick="Toggle()"> ver clave' +
                    '</div>' +



                    '<div class="form-group">' +
                    '<div class="form-group"><label>Estatus</label>' +
                    '<select class="form-control" id="estatusUP">' +
                    '<option value="' + row.estatus + '">' + row.estatus + '</option>' +
                    '<option value="A">Activo</option>' +
                    '<option value="I">Inactivo</option>' +
                    '</select></div>' +
                    '</div>' +

                    '<div class="form-group">' +
                    '' +


                    '<label for="nombres" class="">Despacho</label>=' + row.ctrlDespacho +
                    '<input class="" type="checkbox" id="checkUP"><br>' +
                    '<label for="apellidos" class="">Producción</label>=' + row.ctrlProduccion +
                    '<input class="" type="checkbox" id="checkProdUP"><br>' +
                    '<label for="cedula" class="">Casino</label>=' + row.ctrlCasino +
                    '<input class="" type="checkbox" id="checkCasinoUP">' +

                    '</div>' +

                    '<div class="form-group">' +
                    '<input id="EditPatinadorBtn-' + row.id + '" value="Actualizar registro" class="form-control btn-warning" type="submit" onclick="editPatinador(' + row.id + ')" class="btn-md  btn btn-outline-warning btn-rounded  " >' +
                    '</div>' +

                    '<div class="form-group">' +
                    '<button value="" class="form-control btn btn-block btn-sm btn-outline-danger  icofont-ui-remove" onclick="removePtinador(' + row.id + ')"  ></button>' +
                    '</div>' +


                    '</div>' +


                    '<input type="number" hidden="True" name="idEmpresaUP" value="{{ lastIdEmpresa }}">' +
                    '<input type="number" hidden="True" name="idUserUP" value="{{ login_user_id}}">' +
                    '<input type="number" hidden="True" name="idIpatinadorUP" value="' + row.id + '"' +

                    '</form>';



            }
        </script>

    </div>
</div>































<div id="openModalHijoAddPatinador" class="modalDialogHijo">
    <div> <button onclick="location.href='#close'" class="close" type="button">
             <i class="btn-outline-danger icofont-ui-close"></i>
        </button>
        <div class="container">


            <div class="wrapper">
                <ul class="steps">
                    <li class="is-active">Patinador</li>

                </ul>
                <form id="addPatinador" autocomplete="off" class="form-wrapper formf">

                    <input type="number" hidden="True" name="empresaIntegrante" value="{{ lastIdEmpresa }}">
                    <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">

                    <fieldset class="section is-active">

                        <h3 name="heading">Agregar nuevo patinador
                            <br>{% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h3>
                        <div class="row">

                            <div class="col-md-6 md-4  form-group">
                                <label for="Tlf" class="">Buscar Integrante</label>
                                <input type="text" list="BuscarIntegrantes" name="idIntegrantePatinador" required placeholder="Integrante..." class="form-control" style="width:270px;">
                                <datalist class="form-" id="BuscarIntegrantes">
                                {% for resultsInt in allIntegrante %}
                                <option value="{{resultsInt.cedula}} {{resultsInt.nombres}} {{resultsInt.apellidos}}">
                                </option>
<!--                                 <input type="number" hidden="True" name="idIntegrantePatinador" value="{{ resultsInt.id }}"> 
 -->                                {% endfor %}
                            </datalist>

                            </div>
                            <div class="col-md-4 md-4  form-group">
                                <label for="Tlf" class="">Clave patinador</label>
                                <input type="text" name="passwordP" class="text-security-disc" autocomplete="off" style="width:270px;" required>

                            </div>

                            <div class="col-md-3  offset-1  form-group">
                                <label for="nombres" class="">Despacho</label>
                                <div class="">
                                    <input class="form-control" type="checkbox" id="check">
                                </div>

                            </div>

                            <div class="col-md-3 md-1  form-group">
                                <label for="apellidos" class="">Producción</label>
                                <div class="">
                                    <input class="form-control" type="checkbox" id="checkProd">
                                </div>

                            </div>
                            <!--    <div class="col-md-3 md-1  form-group">
                                <label for="cedula" class="">Acumulado</label>
                                <div class="">
                                    <input class="form-control" type="checkbox" id="checkCasino">
                                </div>


                            </div> -->


                            <div class="col-md-3 md-1  form-group">
                                <label for="cedula" class="">Casino</label>
                                <div class="">
                                    <input class="form-control" type="checkbox" id="checkCasino">
                                </div>


                            </div>






                            <div class="">
                                <input class="submit button" type="submit" value="Guardar">
                            </div>

                        </div>


                    </fieldset>







                    <!--     <fieldset class="section">
                        <br>
                        <h3>Patinador creada con exito!</h3>
                        <p></p>
                        <div class="button">Reset Form</div>
                    </fieldset> -->
                </form>
            </div>








        </div>
    </div>


</div>



<script>
</script>

<!--create ipatinador-->
<script>
    //#check box al agregar patinador para el control del Casino
    checkCasino = document.getElementById("checkCasino");
    globalThis.ctrlCasinoCheck = checkCasino.checked;
    checkCasino.addEventListener("click", function() {
        console.log("estado al hacer check o uncheck", this.checked);
        globalThis.ctrlCasinoCheck = checkCasino.checked;

    });




    //#check box al agregar patinador para el control del despacho
    check = document.getElementById("check");
    globalThis.ctrlDespachoCheck = check.checked;
    check.addEventListener("click", function() {
        console.log("estado al hacer check o uncheck", this.checked);
        globalThis.ctrlDespachoCheck = check.checked;

    });

    //#check box al agregar patinador para el control del Produccion
    checkProd = document.getElementById("checkProd");
    globalThis.ctrlProduccionoCheck = checkProd.checked;
    checkProd.addEventListener("click", function() {
        console.log("estado al hacer check o uncheck", this.checked);
        globalThis.ctrlProduccionoCheck = checkProd.checked;

    });



    $("form#addPatinador").submit(function() {

        var idIntegrante = $('input[name="idIntegrantePatinador"]').val().trim();
        var idEmpresa = $('input[name="idEmpresa"]').val().trim();
        var passwordP = $('input[name="passwordP"]').val().trim(); //
        var idUser = $('input[name="idUser"]').val().trim();
        var ctrlCasino = ctrlCasinoCheck;
        var ctrlDespach = ctrlDespachoCheck;
        var ctrlProduccion = ctrlProduccionoCheck;

        if (ctrlProduccion == null) {
            ctrlProduccion = 0;
        }
        if (ctrlDespach == null) {
            ctrlDespach = 0;
        }
        if (ctrlCasino == null) {
            ctrlCasino = 0;
        }

        if (idIntegrante && idEmpresa && idUser) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "Patinador_ajax_create" %}',
                data: {

                    'idIntegrante': idIntegrante,
                    'ctrlDespacho': ctrlDespach,
                    'ctrlCasino': ctrlCasino,
                    'ctrlProduccion': ctrlProduccion,
                    'idEmpresa': idEmpresa,
                    'passwordP': passwordP,
                    'idUser': idUser

                },
                dataType: 'json',
                success: function(data) {
                    window.location.reload();
                }
            });
            window.location.reload();

        } else {
            alert("All fields must have a valid value.");
        }
        $('form#addPatinador').trigger("reset");
        return false;
    });
</script>
<!--editar ipatinador-->
<script>
    function editPatinador(id) {



        var estatusUP = document.getElementById("estatusUP").value;
        var idEmpresaUP = $('input[name="idEmpresaUP"]').val().trim();
        var idUserUP = $('input[name="idUserUP"]').val().trim();



        if (estatusUP && idEmpresaUP && idUserUP) {

            // Create Ajax Call
            $.ajax({
                url: '{% url "Patinador_ajax_update" %}',
                data: {
                    'estatusUP': estatusUP,
                    'idEmpresaUP': idEmpresaUP,
                    'idUserUP': idUserUP,
                    'idIpatinadorUP': id



                },
                dataType: 'json',
                success: function(data) {
                    if (data.user) {
                        appendToUsrTable(data.user);
                    }
                }
            });

        } else {
            alert("All fields must have a valid value.");
        }
    }
</script>
<!--Delete patinador-->
<script>
    function removePtinador(idPatinador) {

        $.ajax({
            url: '{% url "Patinador_ajax_delete" %}',
            data: {
                'idPatinador': idPatinador,
            },
            dataType: 'json',
            success: function(data) {

                window.location.reload();



            }
        });

    }
</script>
</script>