{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>

<!-- <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">





 -->

<div class="modalBase">


    <center>
        <h1 class="title">Produccion por tarea</h1>
        <hr>
    </center>






</div>

{% endblock %}
</div>
</div>
</div>