<div id="openModalPadre" class="modalDialogPadre">
    <div> <button onclick="location.href='#close'" class="close" type="button"><i class="btn-outline-danger btn-outline-danger icofont-ui-close"></i>
    
        </button>
        <center>
            <h1>Referencias {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
            <hr>
        </center>
        <div class="">
            <div class="col-sm-2">
                <button onclick="location.href='#openModalHijo'" type="button" class="btn text-center btn-outline-success icofont-ui-add"> Agregar</button>
            </div>



            <table id="table" data-id-field="id" class="table table-fill  col-12" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-show-columns="true" data-search="true" data-show-fullscreen="true" data-show-refresh="true"
                data-always-use-formatter="true" data-show-export="true" data-locale="es-SP" data-pagination="true" data-url="referencia/referencia-list/">
                <thead class="thead-dark">
                    <tr>
                        <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoReferencia" class="text-center">Mas info</th>
                        <th data-field="nom_referencia" class="text-center">Nombre Referencia</th>
                        <th data-field="estatus" class="text-center">Estatus</th>
                        <th data-field="created_at" class="text-center">Fec Registro</th>
                        <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionReferencia" class="text-center">Accion</th>

                    </tr>
                </thead>
        </div>
        </table>



















    </div>








</div>

</div>

<div id="openModalHijo" class="modalDialogHijo">




    <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>
        <div class="container">

            <div class="wrapper">
                <ul class="steps">
                    <li class="is-active">Referencia</li>
                </ul>
                <form id="addReferencia" autocomplete="off" class="form-wrapper formf">
                    <fieldset class="section is-active">

                        <h3 name="heading">Agregar referencia <br>{% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h3>
                        <div class="row">

                            <div class="col-md-6 md-6  form-group-sm">
                                <label class="">Nombre de referencia</label>
                                <input class="form-control" name="nom_referencia" placeholder="Nombre referencia" required>
                            </div>
                            <div class="col-md-6 md-6  form-group-sm">
                                <label class="">Descripcion de Referencia</label>
                                <input class="form-control" name="descripcion" placeholder="Descripcion" required>
                            </div>


                            <input type="number" hidden="True" name="empresa" value="{{ lastIdEmpresa }}">
                            <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">
                            <div class="">
                                <input class="submit button" type="submit" value="Guardar">
                            </div>

                        </div>
                    </fieldset>
                </form>

            </div>


        </div>

    </div>
</div>








{% load static %}



<script src="{% static 'js/vue.js' %} "></script>
<script src="{% static 'js/axios.min.js' %} "></script>

<script>
    function DetailFormatterButInfoReferencia(index, row) {
        //crea y renderiza la tabla
        return '<br>referencia    :' + row.descripcion

    }



    function DetailFormatterButAccionReferencia(index, row) {
        return '<form id="editReferencia">' +
            '<div class="row">' +
            '<div class="col-sm-3">' +
            '<div class="form-group"><label>Nombre Referencia</label>' +
            '<input class="form-control"   value="' + row.nom_referencia + '" name="nom_referenciaUP"></div>' +


            '<div class="form-group"><label>Descripcion</label>' +
            '<input class="form-control" value="' + row.descripcion + '" name="descripcionUP"></div>' +

            '<div class="form-control"><label>Estatus</label>' +
            '<select class="form-group" id="estatus" name="estatusUP">' +
            '<option value="' + row.estatus + '">' + row.estatus + '</option>' +
            '<option value="A">Activo</option>' +
            '<option value="I">Inactivo</option>' +
            '</select></div>' +


            '<input type="number" hidden="True" name="empresaUP" value="{{ lastIdEmpresa }}">' +
            '<input type="number" hidden="True" name="idUserUP" value="{{ login_user_id}}">' +
            '<input type="number" hidden="True" name="idReferenciaUP" value="' + row.id + '"' +

            '</div>' +
            '<div class="col-sm-6">' +
            '<input id="EditReferenciaBtn-' + row.id + '"    value="Actualizar registro" type="submit" onclick="editarTarea(' + row.id + ')" class="btn-lg  btn btn-outline-warning btn-rounded  " >' +




            '</div>' +

            '</div>' +
            '<div class="col-sm-1">' + '<button value="" onclick="deleteReferencia(' + row.id + ')"  id="buttonEliminarReferencia" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>' +
            '</div>' +
            '</form>';



    }









    function editarTarea(id) {
        var nom_referenciaInputUP = $('input[name="nom_referenciaUP"]').val().trim();
        var descripcionInputUP = $('input[name="descripcionUP"]').val().trim();
        var idReferenciaUP = $('input[name="idReferenciaUP"]').val().trim();
        var idEmpresaInputUP = $('input[name="empresaUP"]').val().trim();
        var idUserUP = $('input[name="idUserUP"]').val().trim();
        var estatusUP = $('select[name="estatusUP"]').val().trim();
        if (idEmpresaInputUP && idUserUP && idReferenciaUP) {



            axios.post('/referencia/crud/Update/', {

                'idReferencia': idReferenciaUP,
                'nom_referenciaUP': nom_referenciaInputUP,
                'descripcionUP': descripcionInputUP,
                'estatusUP': estatusUP,
                'empresaUP': idEmpresaInputUP,
                'idUserUP': idUserUP


            }).then(response => {
                window.location.reload();
            });
        } else {
            console.log("All fields must have a valid value.");
        }
        $('form#editReferencia').trigger("reset");
        return false;




    }




    //add referencia
    $("form#addReferencia").submit(function() {


        var nom_referenciaInput = $('input[name="nom_referencia"]').val().trim();
        var descripcionInput = $('input[name="descripcion"]').val().trim();

        var idEmpresaInput = $('input[name="empresa"]').val().trim();
        var idUser = $('input[name="idUser"]').val().trim();
        if (nom_referenciaInput && descripcionInput && idEmpresaInput && idUser) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "Referencia_ajax_create" %}',
                data: {

                    'nom_referencia': nom_referenciaInput,
                    'descripcion': descripcionInput,

                    'empresa': idEmpresaInput,
                    'idUser': idUser


                },
                dataType: 'json',
                success: function(data) {
                    if (data.user) {
                        appendToUsrTable(data.user);
                        window.location.reload();
                    }
                }
            });

        } else {
            console.log("All fields must have a valid value.");
        }
        $('form#addReferencia').trigger("reset");
        return false;
    });
</script>

<!--Delete Tarea-->
<script>
    function deleteReferencia(id) {



        $.ajax({
            url: '{% url "Referencia_ajax_delete" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function(data) {

                window.location.reload();



            }
        });
    }
</script>