{% load static %}
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<!-- {% block title %}Django Ajax CRUD{% endblock %}
id="user -->
<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>


<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>



<div id="openModalPadre" class="modalDialogPadre">
    <div> <a href="#close" title="Close" class="close"><i class="btn-outline-danger icofont-ui-close"></i></a>            
      <center>
        <h1>Referencias</h1><hr>
      </center>
      
    <table id="table"
        data-locale="es-SP"
        class="table "
        data-toggle="table"
        data-click-to-select="true"
        data-height="460"
        data-pagination="true"
        data-ajax="ajaxRequest"
        data-search="true"
        data-show-fullscreen="true"        
        data-show-refresh="true"
        data-show-export="true"         
        > 
        <div class="row">
          <div class="col-md-2">
          <a href="#openModalHijo"> 
              <i class="btn text-center btn-outline-success icofont-ui-add"> Agregar </i>
          </a > 
        </div>
        <div class="col-md-10">
          <div id="toolbar">
            <button id="button" class="btn btn-outline-danger icofont-ui-remove"> Eliminar</button>
          </div>
        </div>
        
    </div>

        <thead>                    
            <tr>
                <th class="text-center" data-field="state" data-checkbox="true"></th>
                <th class="text-center" data-field="nom_referencia">Nombre Referencia <i class="icofont-atom"></i></th>
                <th class="text-center" data-field="descripcion">Descripcion de Referencia <i   class="icofont-brand-appstore"></i></th>
                <th class="text-center" data-field="fotoPrendaUno">Imagen 1 <i class="icofont-image"></i></th>
                <th class="text-center" data-field="fotoPrendaDos">Imagen 1  <i class="icofont-image"></i></th>
                <th class="text-center" data-field="created_at">Fecha Creada <i class=""></i></th>
                
            </tr>
        </thead>     
     
    </table>
    
    </div>  

</div>  



 

<div id="openModalHijo" class="modalDialogHijo">
    <div> <a href="#close" title="Close" class="close"><i class="icofont-ui-close"></i></a>            
      <center>
        <h1>Agregar Referencia</h1><hr>
      </center>
      
        <div class="modal-dialog" role="document">
          <form id="addReferencia" action="" novalidate="novalidate">
            <div class="modal-content">
              
              <div class="modal-body">
                <div class="form-row">
                  <div class="col-sm-6">
                   
                   
                    <div class="form-group">
                      <label for="modal_codigo_color">Nombre Referencia</label>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input class="form-control" type="text" name="nom_referencia" placeholder="Nombre referencia" required>
                      </div>
                    </div>
                  
                  </div>
                 
                 
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="modal_codigo_color">Descripcion de Referencia</label>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input class="form-control" type="text" name="descripcion" min="10" max="100" placeholder="Descripcion" required>
                      </div>
                    </div>
                  </div>


                  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="img1">img1</label>                      
                        <input class="form-control-file" name="img1" type="file">                   
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="img2">img2</label>                      
                        <input  class="form-control-file" name="img2" type="file">                   
                    </div>
                  </div>


                
                
                
                </div>
              
                
              </div>
              <div class="modal-footer">
                
                <input type="number" hidde="True" name="empresa" value="{{ lastIdEmpresa }}">
							  <input type="number" hidden="True" name="idUser" value="{{ login_user_id}}">  

                <button class="btn btn-outline-primary form-control" type="submit" onclick="location.href='/'">Guardar</button>
              </div>
            </div>
          </form>
        </div>
     










     
        </div>
</div>
   











{% block javascript %}


<script>
  var $table = $('#table')
  var $button = $('#button')
 

  $(function() {
    $button.click(function () {
      var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
        $.ajax({
    url: '{% url "Referencia_ajax_delete" %}',
    data: {
        'id': row.id,
    },
    dataType: 'json',
    success: function (data) {
        console.log("borrado")
    }
});
        return row.id
      })
      $table.bootstrapTable('remove', {
        field: 'id',
        values: ids
      })
    })

  
  })
</script>

<script>
 function ajaxRequest(params) {
    var url = 'referencia/referencia-list/'
    $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }
 



  $("form#addReferencia").submit(function() {


var nom_referenciaInput = $('input[name="nom_referencia"]').val().trim();
var descripcionInput = $('input[name="descripcion"]').val().trim();
var img1Input = $('input[name="img1"]').val().trim();
var img2Input = $('input[name="img2"]').val().trim();
var idEmpresaInput = $('input[name="empresa"]').val().trim();
var idUser    = $('input[name="idUser"]').val().trim();
alert(idEmpresaInput);
if (nom_referenciaInput && descripcionInput && img1Input && img2Input && idEmpresaInput && idUser) {
    // Create Ajax Call
    $.ajax({
        url: '{% url "Referencia_ajax_create" %}',
        data: {
            
            'nom_referencia': nom_referenciaInput,
            'descripcion': descripcionInput,
            'img1': img1Input,
            'img2': img2Input,
            'empresa':idEmpresaInput,
            'idUser':idUser
            
            
        },
        dataType: 'json',
        success: function (data) {
            if (data.user) {
              appendToUsrTable(data.user);
            }
        }
    });

} else {
    alert("All fields must have a valid value.");
}
$('form#addReferencia').trigger("reset");
return false;
});


// Delete Django Ajax Call
function deleteReferencia(id) {
var action = confirm("Are you sure you want to delete this referencia?");
if (action != false) {
$.ajax({
    url: '{% url "Referencia_ajax_delete" %}',
    data: {
        'id': id,
    },
    dataType: 'json',
    success: function (data) {
        if (data.deleted) {
          $("#userTable #referencia-" + id).remove();
        }
    }
});
}
}



































    // Create Django Ajax Call
    $("form#addUser").submit(function() {
        var nameInput = $('input[name="name"]').val().trim();
        var addressInput = $('input[name="address"]').val().trim();
        var ageInput = $('input[name="age"]').val().trim();
        if (nameInput && addressInput && ageInput) {
            // Create Ajax Call
           
            $.ajax({
                url: '{% url "crud_ajax_create" %}',
                
                data: {
                    'name': nameInput,
                    'address': addressInput,
                    'age': ageInput
                },
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                      appendToUsrTable(data.user);
                    }
                }
            });
    
        } else {
            alert("All fields must have a valid value.");
        }
        $('form#addUser').trigger("reset");
        return false;
    });
    
    
    // Delete Django Ajax Call
    function deleteUser(id) {
      var action = confirm("Are you sure you want to delete this user?");
      if (action != false) {
        $.ajax({
            url: '{% url "crud_ajax_delete" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.deleted) {
                  $("#userTable #user-" + id).remove();
                }
            }
        });
      }
    }
    
    
    // Create Django Ajax Call
    $("form#updateUser").submit(function() {
        var idInput = $('input[name="formId"]').val().trim();
        var nameInput = $('input[name="formName"]').val().trim();
        var addressInput = $('input[name="formAddress"]').val().trim();
        var ageInput = $('input[name="formAge"]').val().trim();
        if (nameInput && addressInput && ageInput) {
         
            // Create Ajax Call
            $.ajax({
                url: '{% url "crud_ajax_update" %}',
                data: {
                    'id': idInput,
                    'name': nameInput,
                    'address': addressInput,
                    'age': ageInput
                },
                dataType: 'json',
                success: function (data) {
                    if (data.user) {
                      updateToUserTabel(data.user);
                  }
                }
            });
    
        } else {
            alert("All fields must have a valid value.");
        }
        $('form#updateUser').trigger("reset");
        $('#myModal-referencia').modal('hide');
        
        return false;
    });
    
    
    // Update Django Ajax Call
    function editUser(id) {
    
      if (id) {
        tr_id = "#user-" + id;
        name = $(tr_id).find(".userName").text();
        address = $(tr_id).find(".userAddress").text();
        age = $(tr_id).find(".userAge").text();
        $('#form-id').val(id);
        $('#form-name').val(name);
        $('#form-address').val(address);
        $('#form-age').val(age);
      }
    }
    
    function appendToUsrTable(user) {
    
      $("#userTable > tbody:last-child").append(`
            <tr id="user-${user.id}">
                <td class="userName" name="name">${user.name}</td>
                '<td class="userAddress" name="address">${user.address}</td>
                '<td class="userAge" name="age">${user.age}</td>
                '<td align="center">
                    
                
                 
                 <a href="#openModal"
                 onClick="editUser(${user.id})"
                 class="btn btn-outline-warning form-control"
                 >Editar</a>    
    
    
                </td>
                <td align="center">
                    <button class="btn btn-outline-danger form-control" onClick="deleteUser(${user.id})">Eliminar</button>
                </td>
            </tr>
        `);
    }
    
    function updateToUserTabel(user){
    
        $("#userTable #user-" + user.id).children(".userData").each(function() {
            var attr = $(this).attr("name");
            if (attr == "name") {
              $(this).text(user.name);
            } else if (attr == "address") {
              $(this).text(user.address);
            } else {
              $(this).text(user.age);
            }
          });
    }
    </script>
    {% endblock javascript %}
