{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>

<script src="{% static 'js/vue-select-vue-select.js' %} "></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/vue-select-vue-select.css' %}">
<script src="{% static 'js/index-index.js' %} "></script>







<div class="modalBase">
    <center>
        <h1>Historial Casino {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h1>
    </center>
    <div class="row">


        <div class="col-md-12">
            <div class="col-md-10">


            </div>
            <table id="table" data-id-field="id" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-search="true" data-show-fullscreen="true" data-show-export="true" data-locale="es-SP" data-pagination="true"
                data-url="/casino/casino-list-historial/">
                <thead class="thead-dark">
                    <tr>
                        <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoCasinoHistory" class="text-center">Info</th>
                        <th data-field="nom_casino" class="text-center">Reg Casino</th>
                        <th data-field="can_total" class="text-center">Total</th>
                        <th data-field="estatus" class="text-center">Estatus</th>
                        <th data-field="created_at" class="text-center">Fecha</th>
                        <th data-field="btnccion" data-detail-formatter="DetailFormatterButAccionCasinoHistori" class="text-center"> Accion</th>
                    </tr>
                </thead>
            </table>
        </div>










    </div>


</div>


</div>







<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";

    function DetailFormatterButInfoCasinoHistory(index, row) {
        //crea y renderiza la tabla
        return '' +
            '<script type="application/javascript">' + 'formCasino(' + row.id + ',' + row.usuario + ');' +
            '</' + 'script>' +
            '<div id="FormuCasino-' + row.id + '">' +
            '<template>' +
            '<form @submit.prevent="submitFormCasino" class="">' +
            '<div hidden=True>{% csrf_token %}</div>' +
            '<input hidden=True id="usuario"   value="' + row.usuario + '" type="number"/>' +
            '<div class="row">' +
            '<div class="col-md-6 " style="position:absolute; left:1;top:1   ">' +
            '<div id="sectIntegreOCasino-' + row.id + '" class="dataTable_width_auto resutatatIntegranteCasino-' + row.id +
            '">' +
            '</div>' +
            '</div>' +

            '<div class="col-sm-6   offset-6" >' +
            '<div class="form-group"> ' + //<label>Integrante</label>

            '<v-select ' +
            'v-model="selectIdIntegranteAcumulado" placeholder="Seleccione Integrante" :options="allIntegrantesAcumuladoss.map(academicClass => ({label: academicClass.nombres, value: academicClass.id}))"></v-select>' +
            '</div>' +
            '</div>' +

            '</form>' +
            '</div>' +
            '</div>' +
            '<h5 id="TotalImporte-' + row.id + '" style="position:;right:5;top:1"></h3>' +
            '<br><br><br><br><br><br><br><br><br>' +
            '</template>';
    }

    function DetailFormatterButAccionCasinoHistori(index, row) {
        //r = parseInt("[[progressRest]]");
        return '<div class="row">' +
            '<div class="col-md-10">' +
            '<table  class="table animated fadeIn "  id="items-table-CasinoGene-' + row.id +
            '">' +
            '<thead class="thead-dark">' +
            '<tr>' +
            '<th class="text-center"></th>' +
            '<th class="text-center">Cedula</th>' +
            '<th class="text-center">Nombre</th>' +
            '<th class="text-center">Apellido</th>' +
            '<th class="text-center">Cantidad</th>' +
            '<th class="text-center">Fecha</th>' +
            '<th class="text-center"></th>' +
            '</tr>' +
            '</thead>' +
            '<tbody calss="table-striped table  table-sm  table-bordered table-hover" id="casinoKill-' + row.id + '">' +

            '</tbody>' +
            '</table>' +
            '</div>' +
            '<div class="">' + '<button value="" onclick="deleteCasino(' + row.id + ')"  id="buttonEliminarIntegrante" class="btn btn-outline-danger icofont-ui-remov ">Eliminar</button>' +
            '</div>' +
            '<script type="application/javascript">' + 'CasinoProd(' + row.id + ',' + row.usuario + ');' +
            '</' + 'script>' +
            '</div>';
    }




    function formCasino(idCasino, idUsuario) {
        Vue.component('v-select', VueSelect.VueSelect, {
            extends: VueSelect,

        });

        new Vue({
            el: '#FormuCasino-' + idCasino,
            delimiters: ['[[', ']]'],
            data: function() {
                return {
                    allPatinadoresAcumulados: [],
                    allIntegrantesAcumuladoss: [],
                    selectIdIntegranteAcumulado: '',
                    selectIDPatinadorAcumulado: '',
                    selectIdTareaAcumulado: '',
                    selectIdTallaAcumulado: '',
                    cant_casino: '',
                    usuario: idUsuario,
                    idCasino: idCasino,
                    total: '',

                }
            },



            created() {
                axios
                    .get('/integrante/integrante-list/')
                    .then((resp) => {
                        this.allIntegrantesAcumuladoss = resp.data
                    }).catch(error => console.log(error));

                axios
                    .get('/casino/lista_patinadoresAct-casino/')
                    .then((resp) => {
                        this.allPatinadoresAcumulados = resp.data
                    }).catch(error => console.log(error));
            },
            watch: {
                selectIdIntegranteAcumulado(val) {
                    axios
                        .get('/casino/totalImporteInte/', {
                            params: {
                                idCasino: idCasino,
                                idIntegranteSelect: idIntegranteSelect
                            }
                        })
                        .then((resp) => {
                            this.total = resp.data.TotalCasinoImporte;
                        })
                        .catch(error => console.log(error));
                    document.getElementById('sectIntegreOCasino-' + idCasino).innerHTML =
                        '<div class="text-center"">' +
                        '<table  class="table text-center animated fadeIn"  id="items-table-Casino-' + idCasino +
                        '">' +
                        '<thead class="thead-dark">' +
                        '<tr>' +
                        '<th>id</th>' +

                        '<th class="text-center">Fecha</th>' +
                        '<th class="text-center">Cantidad</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody calss="" id="casinoKill-' + idCasino + '">' +
                        '<td class="text-center">ID</td>' +

                        '<td class="text-center">Cantidad</td>' +
                        '<td class="text-center">Fecha</td></tr>' +
                        '</tbody>' +
                        '</table>' +
                        '</div>';
                    CasinoImporte(idCasino, idIntegranteSelect);

                }
            },

        })





    }

    function CasinoImporte(idCasino, idIntegranteSelect) {
        $(document).ready(function() {
            let table = $("#items-table-Casino-" + idCasino).removeAttr("width").dataTable({
                ajax: {
                    url: '/casino/dataCasinoInte-list/',
                    data: {
                        idCasino: idCasino,
                        idIntegranteSelect: idIntegranteSelect
                    },
                    dataSrc: ''
                },
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resutatatIntegrantes",
                    "sEmptyTable": "Ningún dato disponible ",
                    "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },

                scrollCollapse: true,
                "searching": false,

                scrollY: "250px",
                order: [
                    [1, 'desc']
                ],
                columns: [{
                    data: "id",
                    "visible": false
                }, {
                    data: "created_at"
                }, {
                    data: "cantidad",
                    render: $.fn.dataTable.render.number(',', '.', 2, ' ')
                }, ],
                "columnDefs": [{
                    "className": "dt-center",
                    "targets": "_all"
                }],

            });
            $("#items-table-Casino-" + idCasino).on("click", "button", function() {
                $("#items-table-Casino-" + idCasino).DataTable().ajax.reload();
                sleepThenAct();
            })

            function sleepThenAct() {
                $("#items-table-Casino-" + idCasino).DataTable().ajax.reload();
            }
        });
        axios
            .get('/casino/totalImporteInte/', {
                params: {
                    idCasino: idCasino,
                    idIntegranteSelect: idIntegranteSelect
                }
            })
            .then((resp) => {

                this.total = resp.data.TotalCasinoImporte;
                this.cedulaIntegrante = resp.data.cedulaIntegrante;
                if (this.total == null) {
                    this.total = 0
                }

                var T = (this.total).toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD',
                });

                document.getElementById('TotalImporte-' + idCasino).innerHTML =
                    '<div class="col-md-5 offset-7 alert border btn-cyan bt ">Importe total  : <b>' + T + '</b><br class="mb-3" >Cedula: ' + cedulaIntegrante + '</div>';

            })
            .catch(error => console.log(error));
    }




    function CasinoProd(idCasino, idUsuario) {
        $(document).ready(function() {
            let table = $("#items-table-CasinoGene-" + idCasino).removeAttr("width").dataTable({
                ajax: {
                    url: '/casino/dataCasino-list/',
                    data: {
                        idCasino: idCasino,
                        idUsuario: idUsuario
                    },
                    dataSrc: ''
                },
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resutatatIntegrantes",
                    "sEmptyTable": "Ningún dato disponible",
                    "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                // scrollY: '500px',
                scrollCollapse: true,
                scrollY: "250px",
                order: [
                    [5, 'dsc']
                ],
                "columnDefs": [{
                        "className": "dt-center",
                        "targets": "_all"
                    }

                ],
                columns: [{
                        data: "id",
                        "visible": false
                    }, {
                        data: "cedulaIntegrante"
                    }, {
                        data: "nomIntegrante"
                    }, {
                        data: "apelIntegrante"
                    }, {
                        data: "cantidad",
                        render: $.fn.dataTable.render.number(',', '.', 2, ' ')
                    }, {
                        data: "created_at"
                    },

                ]

            });
            $("#items-table-CasinoGene-" + idCasino).on("click", "button", function() {
                $("#items-table-CasinoGene-" + idCasino).DataTable().ajax.reload();
                sleepThenAct();
            })

            function sleepThenAct() {
                $("#items-table-CasinoGene-" + idCasino).DataTable().ajax.reload();
            }
        })
    }

    function deleteCasino(idCasino) {
        $.ajax({
            url: '{% url "Casino_ajax_delete" %}',
            data: {
                'idCasino': idCasino,
            },
            dataType: 'json',
            success: function(data) {
                window.location.reload();

            }
        });
    }
</script>



{% endblock %}