{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>
<script src="{% static 'js/casino/casinoP.js' %}"></script>




<div class="table-wrapper modalBasePeriles">
    <div style="overflow-x:auto;">

        <center>
            <header class="mdc-top-app-bar ">

                <div class="mdc-top-app-bar__row">
                    <center>
                        <h3 class="title">Casino {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h3>
                    </center>

                    <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right ">


                        <div class="menu-button-container menu-profile d-none d-md-block ">
                            <button class="btn btn-blue-grey btn-outline-amber mdc-button mdc-menu-button ">
					<span class="d-flex align-items-center ">                        
                        <span class="figure">						
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					  </span>
					  <span class="user-name ">&nbsp;&nbsp; {{ request.user.first_name|title }} {{ request.user.last_name|title }}</span>
				   </button>

                            <div class="mdc-menu mdc-menu-surface " tabindex="-1 ">
                                <ul class="mdc-list " role="menu " aria-hidden="true " aria-orientation="vertical ">
                                    <li class="btn-outline-secondary mdc-list-item " role="menuitem ">
                                        <div class=" ">
                                        </div>
                                        <div>
                                            <button onclick="location.href='/auth/logout/'">
                                            <div class="text-danger "><u>Cerrar seccion</u></div>
                                           &nbsp;&nbsp;&nbsp; <i class="btn-outline-danger material-icons ">exit_to_app</i>
                                            
                                        </button>


                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="divider d-none d-md-block "></div>
                    </div>

                </div>

            </header>










        </center>



        <div class="row">
            <!-- <div class="col-md-12 col-md-offset-10">
            <h6 class="cioo" style="text-align: right;">Importe total $ {{totalCasino}}</h6>
        </div> -->
            <div style="overflow-x:auto;" class="col-md-12">

                <table id="table" data-id-field="id" class="table-fill" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-search="true" data-show-fullscreen="true" data-show-export="true" data-locale="es-SP"
                    data-pagination="true" data-url="{% url 'casinoListPatinador' %}">
                    <thead class="thead-dark">
                        <tr> {% comment %}
                            <th data-field="id" class="text-center ">id</th> {% endcomment %}
                            <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoCasinoPatinador" class="text-center">Info</th>
                            <th data-field="nom_casino" class="text-center">Reg Casino</th>
                            <th data-field="can_total" class="text-center">Total</th>
                            <th data-field="estatus" class="text-center">Estatus</th>
                            <th data-field="created_at" class="text-center">Fecha</th>
                            <th data-field="btnccion" data-detail-formatter="DetailFormatterButAccionCasinoPatinador" class="text-center"> Accion</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>





    </div>




</div>









<script>
    $(document).ready(function() {
        document.getElementById('navMiao').remove();
        document.getElementById('miaoHeader').remove();
        document.getElementById('miaoFoter').remove();
        document.getElementById('miaoMenuButon').remove();
        //  document.getElementById('miaoImgBG').remove();



    });
</script>








{% endblock %}
</div>
</div>
</div>