{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>
<script src="{% static 'js/produccion/produccionP.js' %}"></script>
<!-- <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">






 -->











<div class="">


    <center>
        <header class="mdc-top-app-bar ">

            <div class="mdc-top-app-bar__row">
                <center>
                    <h3 class="title">Producción {% for i in nomEmpresaU %}{{ i|title }}{% endfor %}</h3>
                </center>

                <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right ">


                    <div class="menu-button-container menu-profile d-none d-md-block ">
                        <button class="btn btn-blue-grey btn-outline-amber mdc-button mdc-menu-button ">
					<span class="d-flex align-items-center ">                        
                        <span class="figure">						
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					  </span>
					  <span class="user-name ">&nbsp;&nbsp; {{ request.user.first_name|title }} {{ request.user.last_name|title }}</span>
				   </button>

                        <div class="mdc-menu mdc-menu-surface " tabindex="-1 ">
                            <ul class="mdc-list " role="menu " aria-hidden="true " aria-orientation="vertical ">
                                <li class="btn-outline-secondary mdc-list-item " role="menuitem ">
                                    <div class=" ">
                                    </div>
                                    <div>
                                        <button onclick="location.href='/auth/logout/'">
                                            <div class="text-danger "><u>Cerrar seccion</u></div>
                                           &nbsp;&nbsp;&nbsp; <i class="btn-outline-danger material-icons ">exit_to_app</i>
                                            
                                        </button>


                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="divider d-none d-md-block "></div>
                </div>

            </div>

        </header>










    </center>
    <div style="overflow-x:auto;">


        <table id="produccionTable" data-id-field="id" class="table-fill" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-show-columns="true" data-search="true" data-show-fullscreen="true" data-pagination="true"
            data-show-refresh="true" data-always-use-formatter="true" data-show-export="true" data-locale="es-SP" data-url="{% url 'produccionListPatinadores'%}">
            <thead class="thead-dark ">
                <tr>
                    <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoProduccionPatinador" class="text-center">Info
                    </th>
                    {% comment %}
                    <th data-field="id" class="text-center ">id</th> {% endcomment %}
                    <th data-field="nom_operacion" class="text-center ">OP</th>
                    <th data-field="nomReferencia" class="text-center">Referencia</th>
                    <th data-field="nomColor" class="text-center">Color</th>
                    <th data-field="can_restante" class="text-center">Por terminar OP</th>
                    <!--                 
                <th data-field="can_total" class="text-center">Cant. Total</th>
-->

                    <th data-field="created_at" class="text-center">Fecha creada</th>
                    <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionProduccionPatinador" class="text-center">
                        Accion</th>
                </tr>
            </thead>
            <section class="h-full w-full flex justify-content items-center">
                <div class="w-full h-1 max-w-2xl relative overflow-hidden mx-auto">
                    <div class="h-full rounded bg-pink-200">
                        <div class="first-beam absolute bg-pink-600 rounded"></div>
                        <div class="second-beam absolute bg-pink-400 rounded"></div>
                    </div>
                </div>
            </section>
        </table>



    </div>
</div>
<script>
    $(document).ready(function() {
        document.getElementById('navMiao').remove();

        document.getElementById('miaoHeader').remove();
        document.getElementById('miaoFoter').remove();
        document.getElementById('miaoMenuButon').remove();

    });
</script>
{% endblock %}
</div>
</div>
</div>