{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>

<!-- <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">

 -->

<div class="modalBase">
    <center>
        <h1 class="title">Destajo por Producción</h1>
        <hr>
    </center>
    <table id="produccionTable" data-id-field="id" class="thead-dark table-fill animated fadeIn" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-show-columns="true" data-search="true" data-show-fullscreen="true"
        data-pagination="true" data-show-refresh="true" data-always-use-formatter="true" data-show-export="true" data-locale="es-SP" data-url="{% url 'operaciones-list'%}">
        <thead class="thead-dark ">
            <tr>
                <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoProduccionValor" class="text-center">Info
                </th>
                {% comment %}
                <th data-field="id" class="text-center ">id</th> {% endcomment %}
                <th data-field="nom_operacion" class="text-center ">OP</th>
                <th data-field="estatus" class="text-center">Estatus</th>
                <th data-field="nomReferencia" class="text-center">Referencia</th>
                <th data-field="nomColor" class="text-center">Color</th>
                <th data-field="can_restante" class="text-center">Por terminar OP</th>
                <th data-field="created_at" class="text-center">Fecha creada</th>
                <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionProduccionValor" class="text-center">
                    Accion</th>
            </tr>
        </thead>
        <section class="h-full w-full flex justify-content items-center">
            <div class="w-full h-1 max-w-2xl relative overflow-hidden mx-auto">
                <div class="h-full rounded bg-pink-200">
                    <div class="first-beam absolute bg-pink-600 rounded"></div>
                    <div class="second-beam absolute bg-pink-400 rounded"></div>
                </div>
            </div>
        </section>
    </table>





















    <script>
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
        axios.defaults.xsrfCookieName = "csrftoken";


        function DetailFormatterButInfoProduccionValor(index, row) {
            //crea y renderiza la tabla
            return '' +
                '<script type="application/javascript">' + 'formProduccionOPValor(' + row.id + ',' + row.usuario + ');' +



                '</' + 'script>' +


                '<div id="FormuProduccionOPValor-' + row.id + '">' +
                '<template>' +

                '<form @submit.prevent="submitFormProduccion" class="form animated fadeIn border-info ">' +
                '<div hidden=True>{% csrf_token %}</div>' +
                '<input hidden=True id="usuario"   value="' + row.usuario + '" type="number"/>' +

                '<div class="row">' +


                '<div class="col-md-6 " style="position:absolute; left:0; margin: 10px 0 0 10px">' +
                '<div id="sectIntegreOC-' + row.id + '" class="table animated fadeIn resutatatIntegrante-' + row.id +
                '">' +

                '<table class="thead-dark animated fadeIn">' +
                '<thead class="">' +
                '<tr>' +
                '<th scope="col" class="text-center">Tareas</th>' +
                '<th scope="col" class="text-center">Cantidad</th>' + //
                '<th scope="col" class="text-center">Valor Tarea</th>' +
                '<th scope="col" class="text-center">Valor general</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>' +
                '<tr v-for="i in allTareaProduccions">' +

                '<td class="text-center">[[i.tarea]]</td>' +
                '<td class="text-center">[[i.cat_total_tarea]]</td>' +
                '<td class="text-center">[[i.valorTarea ]]</td>' +
                '<td class="text-center">[[i.ValorTotalTarea]]</td>' +
                '</tr>' +
                '</tbody>' +
                '</table>' +
                '</div>' +
                '</div>' +

                '<div class="col-sm-6   offset-6" >' +
                '<div class="form-group"> ' + //<label>Integrante</label>
                '<select  id="OccionId_integrante_prod-' + row.id +
                '" class="sectIntegrenteOnChan-' + row.id + ' form-select form-select-sm form-control" v-model="selectIdIntegranteProduccion"><option value="" disabled >Selecciones Integrante</option>' +
                '<option id="id_integrante"  v-for="(optionIntegrante) in allIntegrantesProduccions" v-bind:value="optionIntegrante.id">[[optionIntegrante.nombres]]  [[optionIntegrante.apellidos]]</option></select></div>' +
                '</div>' +

                '</form>' +

                '<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>' +
                '</div>' +
                '<h5 id="totalGeneradoProd-' + row.id + '" style="position:;right:5;top:1"></h3>' +
                '<br><br><br>' +
                '</template>';
        }

        function DetailFormatterButAccionProduccionValor(index, row) {
            //r = parseInt("[[progressRest]]");
            return '<div class="row">' +

                '<div class="col-md-12">' +
                '<table  class="table animated fadeIn "  id="items-table-produccion-' + row.id +
                '">' +
                '<thead class="thead-dark">' +
                '<tr>' +
                //'<th class="text-center">id</th>' +
                '<th class="text-center">Nombre</th>' +
                '<th class="text-center">Apellido</th>' +
                '<th class="text-center">Tarea</th>' +
                '<th class="text-center">Talla</th>' +
                '<th class="text-center">Cantidad</th>' +
                '<th class="text-center">Fecha</th>' +


                '</tr>' +
                '</thead>' +
                '<tbody calss="table-striped table  table-sm  table-bordered table-hover" id="produccionKill-' + row.id + '">' +
                '</tbody>' +
                '</table>' +
                '<script type="application/javascript">' + 'ProduccionOPValor(' + row.id + ',' + row.usuario + ');' +
                '</' + 'script>' +


                '</div>';
        }

        function deleteProduccionUnico(id_produccion) {

            axios.delete('eliminar_produccion/' + id_produccion + '/')
                .then(res => {
                    console.log(res);
                }).catch(error => console.log(error));

        }

        function formProduccionOPValor(idOperacion, idUsuario) {
            new Vue({
                el: '#FormuProduccionOPValor-' + idOperacion,
                delimiters: ['[[', ']]'],
                data: function() {
                    return {
                        allPatinadoresProduccions: [],
                        allTallasProduccions: [],
                        allTareasProduccions: [],
                        allIntegrantesProduccions: [],
                        allTareaProduccions: [],
                        selectIdIntegranteProduccion: '',
                        selectIdTareaProduccion: '',
                        selectIdTallaProduccion: '',
                        selectIDPatinadorProduccion: '',
                        cant_prod: '',
                        name: 'pass',
                        totalGeneradoProd: '',
                        usuario: idUsuario,
                        idOperacion: idOperacion,

                    }
                },
                methods: {

                    getProduccionDataIntegrante: function() {

                        //evento de escucha de integrante
                        const selectElement = document.querySelector(".sectIntegrenteOnChan-" + idOperacion);
                        selectElement.addEventListener("change", (event) => {
                            const resutatatIntegrante = document.
                            querySelector(".resutatatIntegrante-" + idOperacion);
                            const idIntegranteSelect = event.target.value;
                            //variable global prototype idIntegranteSelect
                            Vue.prototype.$varGlobalSelectIntegrProd = idIntegranteSelect;
                            axios.get('dataProduccionInte-listValor/', {
                                params: {
                                    idIntegranteSelect: idIntegranteSelect,
                                    idOp: idOperacion
                                }
                            }).then((resp) => {
                                this.allTareaProduccions = resp.data;
                                if (this.allTareaProduccions.length == 0) {
                                    document.getElementById('totalGeneradoProd-' + idOperacion).innerHTML = '<div class="col-md-5 offset-7 alert border btn-cyan bt ">Total Generado  : <b>' + 0 + '</b>';
                                } else {
                                    this.totalGeneradoProd = resp.data[resp.data.length - 1]['totalGenerado'];
                                    document.getElementById('totalGeneradoProd-' + idOperacion).innerHTML = '<div class="col-md-5 offset-7 alert border btn-cyan bt ">Total Generado  : <b>' + this.totalGeneradoProd + '</b>';
                                }
                            }).catch(error => console.log(error));
                        });
                    },


                    getProduccionData: function() {
                        ProduccionOPValor(idOperacion);

                        axios
                            .get('/tarea/tarea-list/')
                            .then((resp) => {
                                this.allTareasProduccions = resp.data;
                            })
                            .catch(error => console.log(error));
                        axios
                            .get('/integrante/integrante-list/').then((resp) => {
                                this.allIntegrantesProduccions = resp.data
                            }).catch(error => console.log(error));
                        axios
                            .get('/produccion/lista_patinadoresAct-prod/')
                            .then((resp) => {
                                this.allPatinadoresProduccions = resp.data
                            }).catch(error => console.log(error));
                        axios
                            .get('/talla/tallaOP-list/?idOp=' + idOperacion)
                            .then((resp) => {
                                this.allTallasProduccions = resp.data;
                                console.log(this.allTallasProduccions);
                            }).catch(error => console.log(error));
                    },
                    submitFormProduccion: function() {
                        var OccionId_integrante_prod = $('select[id="OccionId_integrante_prod-' + this.idOperacion + '"]').val().trim();
                        var OccionId_pantinador_prod = $('select[id="OccionId_pantinador_prod-' + this.idOperacion + '"]').val().trim();
                        var OccionId_tarea = $('select[id="OccionId_tarea-' + this.idOperacion + '"]').val().trim();
                        var OccionId_talla = $('select[id="OccionId_talla-' + this.idOperacion + '"]').val().trim();
                        var cantidad = $('input[name="cant_produccion-' + this.idOperacion + '"]').val().trim();
                        //crear la evaluacion de solo puede guardar los datos si cantidad esta llenna con if
                        if (cantidad && OccionId_integrante_prod && OccionId_tarea && OccionId_talla) {
                            axios.post('/produccion/create/', {
                                idOperacion: idOperacion,
                                usuario: idUsuario,
                                OccionId_integrante_prod: OccionId_integrante_prod,
                                OccionId_pantinador_prod: OccionId_pantinador_prod, //l
                                OccionId_tarea: OccionId_tarea,
                                OccionId_talla: OccionId_talla,
                                cantidadProd: cantidad,
                            }).then(response => {
                                //console.log("produccion creada");
                                //console.log(this.$varGlobalSelectIntegrProd);
                                axios.get('dataProduccionInte-list/', {
                                    params: {
                                        idIntegranteSelect: this.$varGlobalSelectIntegrProd,
                                        idOp: idOperacion,
                                    }
                                }).then((resp) => {
                                    this.allTareaProduccions = resp.data;
                                }).catch(error => console.log(error));
                            })
                        }
                    }
                },
                mounted: function() {
                    this.getProduccionDataIntegrante();
                    this.getProduccionData();
                }
            })
        }

        function ProduccionOPValor(idOperacion, idUsuario) {
            $(document).ready(function() {
                let table = $("#items-table-produccion-" + idOperacion).removeAttr("width").dataTable({
                    ajax: {
                        url: '/produccion/produccionOP-list/?idOp=' + idOperacion,
                        dataSrc: ''
                    },
                    language: {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resutatatIntegrantes",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    },
                    // scrollY: '500px',
                    scrollCollapse: true,
                    scrollY: "250px",
                    order: [
                        [5, "dsc"]
                    ],
                    columns: [{
                        data: "nomIntegrante"
                    }, {
                        data: "apeIntegrante"
                    }, {
                        data: "nomTarea"
                    }, {
                        data: "nom_talla"
                    }, {
                        data: "can_terminada"
                    }, {
                        data: "created_at"
                    }, ]

                });
                $("#items-table-produccion-" + idOperacion).on("click", "button", function() {
                    $("#items-table-produccion-" + idOperacion).DataTable().ajax.reload();
                    sleepThenAct();
                })

                function sleepThenAct() {
                    $("#items-table-produccion-" + idOperacion).DataTable().ajax.reload();
                }
            })
        }
    </script>










</div>

{% endblock %}
</div>
</div>
</div>