{% extends 'base.html' %} {% load static %} {% block content %}
<script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>












<div class="modalBase">
    <center>
        <h1 class="title">Destajo por Acumulado</h1>
        <hr>
    </center>

    <table id="produccionTable" data-id-field="id" class="" data-toggle="table" data-detail-view="true" data-detail-view-by-click="true" data-detail-view-icon="false" data-show-columns="true" data-search="true" data-show-fullscreen="true" data-pagination="true"
        data-show-refresh="true" data-always-use-formatter="true" data-show-export="true" data-locale="es-SP" data-url="{% url 'prodAcumulado-listValor'%}">
        <thead class="thead-dark ">
            <tr>
                <th data-field="btnInfo" data-detail-formatter="DetailFormatterButInfoAcumuladoValor" class="text-center">Info
                </th>

                <!--                 <th data-field="id" class="text-center ">id</th>
 -->
                <th data-field="nom_acumulado" class="text-center ">Nom. Acumulado</th>
                <th data-field="estatus" class="text-center">Estatus</th>
                <th data-field="costeAcu" class="text-center ">Coste Total</th>
                <th data-field="created_at" class="text-center">Fecha creada</th>
                <th data-field="btnAcci" data-detail-formatter="DetailFormatterButAccionAcumuladoValor" class="text-center">
                    Accion</th>
            </tr>
        </thead>
    </table>
















</div>


<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios.defaults.xsrfCookieName = "csrftoken";


    function DetailFormatterButInfoAcumuladoValor(index, row) {
        //crea y renderiza la tabla
        return '' +
            '<script type="application/javascript">' + 'formAcumuladoValor(' + row.id + ',' + row.usuario + ');' +
            '</' + 'script>' +


            '<div id="FormuAcumulado-' + row.id + '">' +
            '<template>' +
            '<form @submit.prevent="submitFormAcumuladoValor" class="form animated fadeIn border-info ">' +
            '<div hidden=True>{% csrf_token %}</div>' +

            '<input hidden=True id="usuario"   value="' + row.usuario + '" type="number"/>' +
            '<div class="row">' +
            '<div class="col-md-6 " style="position:absolute; left:0; margin: 10px 0 0 10px">' +


            '<div id="sectIntegreOC-' + row.id + '" class="table thead-dark  animated fadeIn resutatatIntegranteAcuValor-' + row.id +
            '">' +
            '<table  class="thead-dark animated fadeIn">' +
            '<thead class="">' +
            '<tr><th scope="col" class="text-center">Tareas</th>' +
            '<th scope="col" class="text-center">Cantidad</th>' + //ValorTotalTarea
            '<th scope="col" class="text-center">Valor Tarea</th>' +
            '<th scope="col" class="text-center">Valor general</th></tr>' +
            '</thead>' +
            '<tbody>' +
            '<tr v-for="i in allTareaAcumulados">' +
            '<td class="text-center">[[i.tarea]]</td>' +
            '<td class="text-center">[[i.cat_total_tarea]]</td>' +
            '<td class="text-center">[[i.valorTarea ]]</td>' +
            '<td class="text-center">[[i.ValorTotalTarea ]]</td>' +
            '</tr>' +
            '</tbody>' +
            '</table>' +


            '</div>' +
            '</div>' +

            '<div class="col-sm-6   offset-6" >' +
            '<div class="form-group"> ' + //<label>Integrante</label>
            '<select  id="OccionId_integrante_Acu-' + row.id +
            '" class="sectIntegrenteOnChanAcu-' + row.id + ' form-select form-select-sm form-control" v-model="selectIdIntegranteAcumulado"><option value="" disabled>Selecciones Integrante</option>' +
            '<option id="id_integrante"  v-for="(optionIntegranteACU) in allIntegrantesAcumuladossValor" v-bind:value="optionIntegranteACU.id">[[optionIntegranteACU.nombres]]  [[optionIntegranteACU.apellidos]]</option></select></div>' +
            '</div>' +


            '</form>' +
            '</div>' +
            '</div>' +

            '<h5 id="totalGenerado-' + row.id + '" style="position:;right:5;top:1"></h3>' +
            '<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' +


            '</template>';
    }

    function formAcumuladoValor(idAcumulado, idUsuario) {

        new Vue({
            el: '#FormuAcumulado-' + idAcumulado,
            delimiters: ['[[', ']]'],


            data: function() {
                return {
                    allTareaAcumulados: [],
                    allTareasAcumuladosValor: [],
                    allTallasAcumulados: [],
                    allPatinadoresAcumuladosValor: [],
                    allIntegrantesAcumuladossValor: [],
                    selectIdIntegranteAcumulado: '',
                    selectIDPatinadorAcumulado: '',
                    selectIdTareaAcumulado: '',
                    selectIdTallaAcumulado: '',
                    totalGenerado: '',
                    cant_prod_Acum: '',
                    usuario: idUsuario,
                    idAcumulado: idAcumulado,

                }
            },


            methods: {

                getAcumuladoDataValorIntegranteValor: function() {

                    //evento de escucha de integrante
                    const selectElementValor = document.querySelector(".sectIntegrenteOnChanAcu-" + idAcumulado);
                    selectElementValor.addEventListener("change", (event) => {
                        const resutatatIntegranteAcuValor = document.
                        querySelector(".resutatatIntegranteAcuValor-" + idAcumulado);
                        const idIntegranteSelect = event.target.value;
                        //variable global prototype idIntegranteSelect

                        if (idIntegranteSelect != '') {
                            Vue.prototype.$varGlobalSelectIntegrAcuValor = idIntegranteSelect;


                            axios.get('{% url "dataAcumuladoInte-listValor" %}', {
                                params: {
                                    idIntegranteSelect: this.$varGlobalSelectIntegrAcuValor,
                                    idAcumulado: idAcumulado,
                                }
                            }).then((resp) => {
                                this.allTareaAcumulados = resp.data;

                                if (this.allTareaAcumulados.length == 0) {
                                    document.getElementById('totalGenerado-' + idAcumulado).innerHTML =
                                        '<div class="col-md-5 offset-7 alert border btn-cyan bt ">Total Generado  : <b>' + 0 + '</b>';
                                } else {
                                    this.totalGenerado = resp.data[resp.data.length - 1]['totalGenerado'];
                                    document.getElementById('totalGenerado-' + idAcumulado).innerHTML =
                                        '<div class="col-md-5 offset-7 alert border btn-cyan bt ">Total Generado  : <b>' + this.totalGenerado + '</b>';
                                }
                            }).catch(error => {
                                console.log(error);
                            });





                        } //else {


                        //  document.getElementById('totalGenerado-' + idAcumulado).innerHTML = '';
                        //document.getElementById('sectIntegreOC-' + idAcumulado).innerHTML = '';

                        //}

                    });
                },


                getAcumuladoDataValor: function() {
                    AcumuladoProdValor(idAcumulado);


                    axios
                        .get('/integrante/integrante-list/')
                        .then((resp) => {
                            this.allIntegrantesAcumuladossValor = resp.data
                        }).catch(error => console.log(error));
                    axios
                        .get('/produccion/lista_patinadoresAct-prod/')
                        .then((resp) => {
                            this.allPatinadoresAcumuladosValor = resp.data
                        }).catch(error => console.log(error));
                    axios
                        .get('/tarea/tarea-list/')
                        .then((resp) => {
                            this.allTareasAcumuladosValor = resp.data;
                        })
                        .catch(error => console.log(error));
                    axios
                        .get('/talla/tallaEmpresa-list/?idOp=' + idAcumulado)
                        .then((resp) => {
                            this.allTallasAcumulados = resp.data;
                            console.log(this.allTallasAcumulados);
                        }).catch(error => console.log(error));

                },


            },
            mounted: function() {
                this.getAcumuladoDataValorIntegranteValor();
                this.getAcumuladoDataValor();
            }
        })





    }



    function DetailFormatterButAccionAcumuladoValor(index, row) {
        //r = parseInt("[[progressRest]]");
        return '<div class="row">' +

            '<div class="col-md-12">' +
            '<table  class="table animated fadeIn "  id="items-table-Acumulado-' + row.id +
            '">' +
            '<thead class="thead-dark">' +
            '<tr>' +
            '<th class="text-center">Nombre</th>' +
            '<th class="text-center">Apellido</th>' +
            '<th class="text-center">Tarea</th>' +
            '<th class="text-center">Talla</th>' +
            '<th class="text-center">Cantidad</th>' +
            '<th class="text-center">Fecha</th>' +
            //'<th class="text-center">Eliminar</th>' +
            '</tr>' +
            '</thead>' +
            '<tbody calss="table-striped table  table-sm  table-bordered table-hover" id="produccionKill-' + row.id + '">' +
            '</tbody>' +
            '</table>' +
            '</div>' +

            '<script type="application/javascript">' + 'AcumuladoProdValor(' + row.id + ',' + row.usuario + ');' +
            '</' + 'script>' +
            '</div>';
    }

    function AcumuladoProdValor(idAcumulado, idUsuario) {
        $(document).ready(function() {
            let table = $("#items-table-Acumulado-" + idAcumulado).removeAttr("width").dataTable({
                ajax: {
                    url: '/acumulado/AcumuladoProc-list/?idAcumulado=' + idAcumulado,
                    dataSrc: ''
                },
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resutatatIntegrantes",
                    "sEmptyTable": "Ningún dato disponible",
                    "sInfo": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                // scrollY: '500px',
                scrollCollapse: true,
                scrollY: "250px",
                order: [
                    [5, "dsc"]
                ],
                "columnDefs": [{
                    "className": "dt-center",
                    "targets": "_all"
                }],
                columns: [{
                    data: "nomIntegrante"
                }, {
                    data: "apeIntegrante"
                }, {
                    data: "nomTarea"
                }, {
                    data: "nom_talla"
                }, {
                    data: "can_prod_acum"
                }, {
                    data: "created_at"
                }]

            });
            $("#items-table-Acumulado-" + idAcumulado).on("click", "button", function() {
                $("#items-table-Acumulado-" + idAcumulado).DataTable().ajax.reload();
                sleepThenAct();
            })

            function sleepThenAct() {
                $("#items-table-Acumulado-" + idAcumulado).DataTable().ajax.reload();
            }
        })
    }
</script>





{% endblock %}
</div>
</b>
</div>